@import '../base/_base';
@import '../base/_other';
@import '../base/retina-sprites';
@import '../Connect';
.main{
	float:left;
    width: 100%;
	background-color:#ffffff;
	img.activityCover{
		float: left;
		width: 100%;
	}
	h2.activityTitle{
		color:#f8698f;
		text-indent:8px;
		float: left;
		width: 100%;
		background-color: #ffffff;
		margin-top: 8px;
	}
	.activeMsg{
		padding:10px;
		font-size:14px;
		line-height: 24px;
		float: left;
		position:relative;
		width:92%;
		margin-bottom: 20px; 
		.activeMsgCon{
			color: #999999;
			display: inline-block;
			width:92%;
		  	height:auto;
		  	@include overHidd;
		}
		.active-desc-arrow{
			position:absolute;
			right: 6px;
    		top: 0px;
			display: inline-block;
			@include use-sprite(toBottom_icon);
		}
		.undrop-desc{
		  white-space:nowrap;
		}
	  	.drop-desc{
		  white-space:normal;
		}
	  	.arrow-down{
		  -webkit-transform:rotate(0deg);
		}
	  	.arrrow-up{
		  -webkit-transform:rotate(180deg);
		}
		.activeMsgTip{
			font-size:1.2rem;
			color:$fontcolor-999;
		}
	}
}
.checkContent{
	float: left;
    width: 100%;
    margin-top: 8px;
    background: #ffffff;
    .checkNav{
    	width: 100%;
    	background-color:#ffffff;
    	float: left;
    	ul{
    		margin: 18px 0 18px 0px;
    		width: 100%;
    		float: left;
    		li{
    			float: left;
    			font-size:14px;
    			color: #999999;
    			height: 19px;
    			line-height: 19px;
    		}
    		li.latest{
    			margin-left: 10px;
    		}
    		li.rank{
    			margin-left: 31px;
    		}
    		li.canyu{
    			float: right;
    			margin-right: 10px;
    			margin-top: -2px;
    			a{
    				@include use-sprite(canyu);
    				display: inline-block;
    			}
    		}
    		li.on{
				color:#f8698f;
			}
			li.off{
				color:#999999;
			}
    	}
    }
    .navContent{
    	width: 100%;
    	float: left;
    	.latestContent{
    		width: 100%;
    		float: left;
    	}
    	.rankContent{
    		width: 100%;
    		float: left;
    		display: none;
			ul{
				float: left;
				width: 100%;
				li{
					width: 100%;
					float: left;
					padding: 14px 0;
					text-indent: 10px;
					border-bottom: 1px solid #f4f4f4;
					.userPortrait{
						width: 40px;
						height: 40px;
						border-radius: 20px; 
						vertical-align: middle;
					    margin-left: 4px;
					}
					img.imgRank{
						width: 34px;
						height: 34px;
						vertical-align: middle;
					}
					span.nickname{
						display: inline-block;
						margin-left: 4px;
						color: #666666;
					}
					span.giftNum{
						// float: right;
						display: inline-block;
					    // margin-right: 38px;
				        margin-top: 8px;
				        position: absolute;
					    right: 0px;
					    width: 90px;
						em{
							display: inline-block;
							@include use-sprite(icon_gift_new);
							float: left;
						    margin-left: 10px;
						}
						a{
							display: inline-block;
    						float: left;
						    height: 20px;
    						line-height: 20px;
    						color: #f8698f;
						}
					}
					strong{
						font-size: 18px;
						color: #666666;
					    margin-left: 8px;
    					margin-right: 8px;
					}
					 img.null{
				    	width: 60%;
    					margin-left: 20%;
				    }
				}
			}
    	}
    	.latestContent{
    		width: 100%;
    		ul{
    			width: 100%;
    			margin-left:-6px;
    			li{
    				float: left;
				    margin-top: 2px;
				    margin-left: 2px;
				    width: 100%;
				    img.null{
				    	width: 60%;
    					margin-left: 20%;
				    }
    				a{
    					display: block;
    					position: relative;
    					img{
						    width: 100%;
    					}
    					img.Icon{
							position: absolute;
						    width: 50px;
						    right: 0;
						    top: 6px;
						}
    				}
    			}
    		}
    	}
    }
}
.bottomDownload{
	width: 100%;
	float: left;
	background-color: #FFFFFF;
	a{
		display: block;
		width: 60%;
    	margin: 0 auto;
		img{
			margin:10px auto;
			display: block;
		}
	}
}
.head{
	position:inherit;
	border-bottom:none;
}