<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
		<constructor-arg index="0">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL" value="${activemq.broker.url}" />
				<property name="useAsyncSend" value="${activemq.useAsyncSend}" />
				<property name="userName" value="${activemq.username}" />
				<property name="password" value="${activemq.password}" />
			</bean>
		</constructor-arg>
		<property name="maxConnections" value="${activemq.max.conn}"/>
	</bean>
	
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsFactory" />
		<property name="explicitQosEnabled" value="true" /> 
		<property name="deliveryPersistent" value="true" />
	</bean>
	
	<bean id="jmsService" class="org.Iris.app.jilu.service.realm.jms.JmsService">
		<property name="jmsTemplate" ref="jmsTemplate" />
		<property name="zkClient">
			<bean class="org.I0Itec.zkclient.ZkClient">
				<constructor-arg name="zkServers" value="${zookeeper.servers}" />
				<constructor-arg name="sessionTimeout" value="${zookeeper.session.timeout}" />
				<constructor-arg name="connectionTimeout" value="${zookeeper.connection.timeout}" />
				<constructor-arg name="zkSerializer" >
					<bean class="org.I0Itec.zkclient.serialize.BytesPushThroughSerializer" />
				</constructor-arg>
			</bean>
		</property>
	</bean>
</beans>