<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    			 
   	<bean id="appPushManager" class="org.Iris.igt.push.AppPushManager">
   		<property name="appId" 			value="${igt.appId}" />
   		<property name="appKey" 		value="${igt.appKey}" />
   		<property name="masterSecret"   value="${igt.masterSecret}" />
   		<property name="url" 			value="${igt.url}" />
   	</bean>
</beans>