<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    			 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    			 
    <bean class="org.Iris.app.jilu.common.AppConfig">
		<property name="env" value="${env}" />
		<property name="captchaDigit" value="${captcha.digit}" />
		<property name="captchaLifeTime" value="${captcha.life.time}" />
		<property name="captchaCountMaximum" value="${captcha.count.maximum}" />
		<property name="captchaCountLifeTime" value="${captcha.count.lift.time}" />
		<property name="redisLockTimeout" value="${redis.lock.timeout}" />
		
		<property name="aliyunOssBucket" value="${aliyun.oss.bucket}" />
		<property name="aliyunStsRoleArn" value="${aliyun.sts.role.arn}" />
		<property name="aliyunOssEndpoint" value="${aliyun.oss.endpoint}" />
		<property name="aliyunOssFolderPrefix" value="${aliyun.oss.folder.prefix}" />
	</bean>
	
	<context:component-scan base-package="org.Iris.app.jilu" />
        
	<bean id="lang" class="org.Iris.app.jilu.service.JiLuLang">
		<constructor-arg index="0" value="classpath:locale/locale_${locale}.properties" />
	</bean>
	
	<bean id="jiLu" class="org.Iris.app.jilu.service.JiLu" init-method="start" destroy-method="stop">
		<constructor-arg index="0" value="${app.name}" />
		<property name="jmsService" ref="jmsService" />
		<property name="aliyunService" ref="aliyunService" />
		<property name="locale" ref="lang" />
	</bean>
	
	<bean class="org.Iris.core.util.SpringContextUtil" />
	
	<import resource="spring-mybatis.xml" />
	<import resource="spring-redis.xml"/>
	<import resource="spring-activemq.xml"/>
	<import resource="spring-aliyun.xml"/>
	<import resource="spring-igt.xml"/>
</beans>