<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    			 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        
	<bean id="lang" class="org.Iris.app.jilu.service.JiLuLang">
		<constructor-arg index="0" value="classpath:locale/locale_${locale}.properties" />
	</bean>
	
	<bean id="jiLu" class="org.Iris.app.jilu.service.JiLu" init-method="start" destroy-method="stop">
		<constructor-arg index="0" value="${app.name}" />
	</bean>
	
	<bean id="errorHandler" class="org.Iris.app.jilu.web.handler.GsonResultErrorhandler" />
	
	<bean class="org.Iris.core.util.SpringContextUtil" />
	
	<bean id="userAuthenticator" class="org.Iris.app.jilu.web.auth.UserAuthenticator" />
	
	<bean class="org.Iris.app.jilu.common.JiLuConfig">
		<property name="env" value="${env}" />
		<property name="captchaDigit" value="${captcha.digit}" />
		<property name="captchaLifeTime" value="${captcha.life.time}" />
		<property name="captchaCountMaximum" value="${captcha.count.maximum}" />
		<property name="captchaCountLifeTime" value="${captcha.count.lift.time}" />
	</bean>
	
	<import resource="spring-mybatis.xml" />
	<import resource="spring-redis.xml"/>
</beans>