<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>jilu</display-name>
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>classpath:logback.xml</param-value>
	</context-param>	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/spring-context.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.Iris.app.jilu.web.listener.IrisContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>user</servlet-name>
		<servlet-class>org.Iris.app.jilu.web.servlet.MerchantServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>user</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>common</servlet-name>
		<servlet-class>org.Iris.app.jilu.web.servlet.CommonServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>common</servlet-name>
		<url-pattern>/common</url-pattern>
	</servlet-mapping>
</web-app>
