<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>jilu</display-name>
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>classpath:logback.xml</param-value>
	</context-param>	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/spring-context.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.Iris.app.jilu.web.listener.IrisContextLoaderListener</listener-class>
	</listener>
	
	<filter>  
        <filter-name>encodingFilter</filter-name>  
        <filter-class>org.Iris.app.jilu.web.filter.CharsetEncodingFilter</filter-class>  
        <init-param>  
            <param-name>encoding</param-name>  
            <param-value>utf-8</param-value>  
        </init-param>  
    </filter>  
    <filter-mapping>  
        <filter-name>encodingFilter</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping>  
    
     <filter>  
        <filter-name>loginFilter</filter-name>  
        <filter-class>org.Iris.app.jilu.web.filter.LoginFilter</filter-class>  
    </filter>  
    <filter-mapping>  
        <filter-name>loginFilter</filter-name>  
        <url-pattern>*.html</url-pattern>  
    </filter-mapping>  
	
	<servlet>
		<servlet-name>merchant</servlet-name>
		<servlet-class>org.Iris.app.jilu.web.servlet.MerchantServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>merchant</servlet-name>
		<url-pattern>/merchant</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>common</servlet-name>
		<servlet-class>org.Iris.app.jilu.web.servlet.CommonServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>common</servlet-name>
		<url-pattern>/common</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>backstage</servlet-name>
		<servlet-class>org.Iris.app.jilu.web.servlet.BackstageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>backstage</servlet-name>
		<url-pattern>/backstage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>alipay</servlet-name>
		<servlet-class>org.Iris.app.jilu.web.servlet.AliPayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>alipay</servlet-name>
		<url-pattern>/alipay</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>wxpay</servlet-name>
		<servlet-class>org.Iris.app.jilu.web.servlet.WechatPayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>wxpay</servlet-name>
		<url-pattern>/wxpay</url-pattern>
	</servlet-mapping>
</web-app>
