
@import '../base/_base';
@import '../base/_other';
//@import '../base/retina-sprites';
@import '../Connect';
body{
//	background-color:$background-color-body;
}
header{
	padding:10px;
	border:1px solid #d9d9d9;
//	background-color:$background-color-head;
	position:relative;
	span{
		display:inline-block;
		width:100%;
		height:44px;
		line-height:44px;
	}
}
header span.indexRecommend{
	font-size:16px;
	color:$gray-six;
	font-weight:700;
	position:absolute;
	top:10px;
	left:0;
	a{
		margin-left:10px;
	}
}
header span.forgetPwd{
	font-size:18px;
	font-weight:bold;
	color:$fontcolor-333;
	text-align:center;
}
.line{
	width:100%;
	height:1px;
//	background-color:$background-color-d9;
}
.regContent{
	background-color: #ffffff;
    padding:5px 0px 1px 20px;
    margin-top: 15px;
    margin-bottom:$mb16;
    // height:145px;
}
.login_icon_id{
	display:inline-block;
  	@include use-sprite(login_icon_id);
//	height:$lineHeight-24;
//	line-height:$lineHeight-24;
	float:left;
}
.login_icon_code{
	display:inline-block;
	@include use-sprite(login_icon_code);
//	height:$lineHeight-24;
//	line-height:$lineHeight-24;
	float:left;

}
.login_icon_nickname{
	display:inline-block;
//	height:$lineHeight-24;
//	line-height:$lineHeight-24;
	float:left;
}
.login_icon_password{
	display:inline-block;
	@include use-sprite(login_icon_password);
//	height:$lineHeight-24;
//	line-height:$lineHeight-24;
}
.regContent p{
	margin:13px 20px 13px 0px;
	height:26px;
	input{
		// height:22px;
		line-height:20px;
		text-indent:5px;
		width:80%;
		font-size: 14px;
		color: #666666;
		appearance:none;
		-moz-appearance:none;
		-webkit-appearance:none;
		border-radius:0;
		padding:0;

		// margin-top:3px;	
	}
}
.regContent p input.codeInput{
	width:50%;
}
// .regContent p a.btnCode2{
// 	border:1px solid #91c41f;
// 	background-color:#91c41f;
// 	color:#ffffff;
// 	padding:4px 6px;
// 	border-radius:4px;
// }
.regContent p input.btnCode{
	border:1px solid #91c41f;
	color:#91c41f;
	background-color:#ffffff;
	padding:12px 6px;
	border-radius:4px;
	font-size:14px;
	width:30%;
	height:22px;
	float:right;
	text-align:center;
	text-indent:0;
	line-height:0;
}
.regContent p input.btnCode1{
	border:1px solid #666666;
	color:#666666;
	background-color:#f2f2f2;
	padding:10px 6px;
	border-radius:4px; 
	font-size:14px;
	width:30%;
	height:26px;
	float:right;
	text-align:center;
	text-indent:0;
	line-height:0;
}
.regContent p input.pwdSH{
	width:70%;
}
.btnForget{
	padding:0 10px;
}
.btnForget input{
	width:100%;
	height:42px;
	line-height:42px;
	background-color:#91c41f;
	border-radius:4px;
	color:#ffffff;
	font-size:$fontsize-large;
}
.btnForget input.disabled{
	width:100%;
	height:42px;
	line-height:42px;
	background-color:$link-tap;
	border-radius:4px;
	color:$link-tap;
	font-size:$fontsize-large;
}
.pwdSHBtn{
//	@include use-sprite(login_btn_plain_on);
	display:inline-block;
}
.pwdSHBtn1{
//	@include use-sprite(login_btn_plain_offo);
	display:inline-block;
}