@import "../base/retina-sprites";
@import "../base/other";
@import "../base/base";
@import '../Connect';
.nav{
	width:100%;
	overflow:hidden;
	ul{
		width:1000px;
		li{ 
			padding:4px 2px;
			margin:0 4px;
			@include floatL;
			border-bottom:solid 3px none;
			font-size:10px;
		}
	}
}
.nav ul li.on{color:#98c737;  border-bottom:solid 3px #91c41f;}

.recommendContent{
	p{
		height: 45px;
		line-height: 45px;
		border-bottom:1px solid #d9d9d9;
		font-size: 14px;
		color:#888888;
		text-indent: 10px;
		a{
			border:1px solid #91c41f;
			color:#91c41f;
			padding:6px 10px;
			border-radius:4px;
			float: right;
			height: 11px;
			line-height: 11px;
			margin: 14px 10px 7px 9px;
			font-size: 14px;
			text-indent: 0;
		}
	}
	div{
		position:relative;
		height:40px;
		border-bottom:1px solid #d9d9d9;
		padding:12px 11px;
		img{
			width: 30px;
		}
		img.addV{
			width: 15px;
			position:absolute;
			bottom:17px;
			left: 32px;
		}
		img.user_icon_blue{
			position: absolute;
			bottom:11px;
			left: 37px;
			width: 14px;
		}
		img.user_icon_yellow{
			position: absolute;
			bottom:11px;
			left: 37px;
			width: 14px;
		}
		span{
			display: inline-block;
			height: 20px;
			line-height: 20px;
			margin-left:10px;
		}
		.reTitle{
			color: #333333;
			font-size: 14px;
		}
		.reName{
			color: #999999;
			font-size: 12px;
			@include overHidd;
			width: 280px;
			margin-left: 40px;
		}
		// a.addAttention{
		// 	@include use-sprite(follow);
		// 	display:block;
		// 	margin-top: -10px;
		// }
		// a.allready-addAttention{
		// 	@include use-sprite(follow-already);
		// 	display:block;
		// 	margin-top: -10px;
		// }
		a.playData{
			position:absolute;
			top: 14px;
			right: 10px;
			.attenBtn{
			display:inline-block;
//			@include use-sprite(follow);
			margin-top:5px;
			}
		  	.attenBtnActive{
			  display:inline-block;
//			  @include use-sprite(follow-already);
			  margin-top:5px;
			}
		}
		}
}