/* line 6, ../sass/_base.scss */
* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/_base.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/* line 19, ../sass/_base.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background: #fff;
  color: #333;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}

/* line 28, ../sass/_base.scss */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 34, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* line 40, ../sass/_base.scss */
img {
  border: 0;
}

/* line 45, ../sass/_base.scss */
table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 51, ../sass/_base.scss */
a {
  color: blue;
  text-decoration: none;
  output: none;
  color: #333;
}

/* line 58, ../sass/_base.scss */
input, button, textarea {
  -webkit-tap-highlight-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 67, ../sass/_base.scss */
.fr {
  float: right;
}

/* line 70, ../sass/_base.scss */
.fl {
  float: left;
}

/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/* line 7, ../sass/index.scss */
body {
  float: left;
}

/* line 10, ../sass/index.scss */
.main {
  position: relative;
  float: left;
}
/* line 13, ../sass/index.scss */
.main .topContent {
  float: left;
  border: none;
  width: 100%;
}
/* line 17, ../sass/index.scss */
.main .topContent a.logo {
  display: inline-block;
  float: left;
  height: 44px;
  margin-left: 10px;
}
/* line 23, ../sass/index.scss */
.main .topContent h2 {
  float: left;
  font-size: 20px;
  color: #666666;
  height: 44px;
  line-height: 44px;
}
/* line 30, ../sass/index.scss */
.main .topContent a.downloadBlive {
  float: right;
  margin-right: 10px;
  height: 44px;
  line-height: 44px;
}
/* line 35, ../sass/index.scss */
.main .topContent a.downloadBlive img {
  width: 100px;
  margin-top: 10px;
}

/* line 43, ../sass/index.scss */
.playBox {
  float: left;
  width: 100%;
}
/* line 46, ../sass/index.scss */
.playBox img.videoPic {
  width: 100%;
  min-height: 300px;
  float: left;
}
/* line 51, ../sass/index.scss */
.playBox .liveInfo {
  color: #ffffff;
  font-size: 14px;
  float: left;
}
/* line 55, ../sass/index.scss */
.playBox .liveInfo p {
  color: #cccccc;
  margin: 5px 10px 0 0;
  padding: 10px 10px 10px 0;
}
/* line 59, ../sass/index.scss */
.playBox .liveInfo p span {
  color: #91c41f;
}
/* line 62, ../sass/index.scss */
.playBox .liveInfo p img {
  margin: 3px 0 0 0;
  height: 30px;
  width: 30px;
  border-radius: 6px;
  float: left;
}
/* line 69, ../sass/index.scss */
.playBox .liveInfo p em {
  font-style: normal;
  display: inline-block;
}
/* line 73, ../sass/index.scss */
.playBox .liveInfo p em.dis {
  float: left;
}
/* line 76, ../sass/index.scss */
.playBox .liveInfo p em.liverName {
  font-style: normal;
  width: 80px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
/* line 83, ../sass/index.scss */
.playBox .liveInfo p.address {
  height: 35px;
  line-height: 35px;
  width: 160px;
}
/* line 88, ../sass/index.scss */
.playBox .liveInfo p.noticeTime {
  width: 210px;
}
/* line 91, ../sass/index.scss */
.playBox .liveInfo p.name {
  height: 40px;
  line-height: 40px;
}
/* line 94, ../sass/index.scss */
.playBox .liveInfo p.name .portraitV {
  position: relative;
  float: left;
  display: inline-block;
}
/* line 98, ../sass/index.scss */
.playBox .liveInfo p.name .portraitV img.addV {
  width: 12px;
  height: 12px;
  border-radius: 0;
  position: absolute;
  top: 20px;
  left: 20px;
}
/* line 110, ../sass/index.scss */
.playBox .listUserMsg {
  width: 100%;
  background: #fff;
}
/* line 113, ../sass/index.scss */
.playBox .listUserMsg .evalutionListCon .emptydata {
  text-align: center;
  color: #999;
  font-size: 16px;
  padding: 15px;
}
/* line 119, ../sass/index.scss */
.playBox .listUserMsg dl {
  overflow: hidden;
  margin: 0;
  padding: 10px;
}
/* line 123, ../sass/index.scss */
.playBox .listUserMsg dl dt {
  float: left;
  dispaly: inline-block;
  position: relative;
}
/* line 126, ../sass/index.scss */
.playBox .listUserMsg dl dt img {
  margin: 3px 0 0 0;
  height: 34px;
  width: 34px;
  border-radius: 17px;
}
/* line 154, ../sass/index.scss */
.playBox .listUserMsg dl dd:first-of-type {
  float: left;
  dispaly: inline-block;
  margin-left: 10px;
  line-height: 16px;
}
/* line 158, ../sass/index.scss */
.playBox .listUserMsg dl dd:first-of-type p:first-of-type {
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}
/* line 165, ../sass/index.scss */
.playBox .listUserMsg dl dd:first-of-type p:nth-of-type(2) {
  line-height: 18px;
  font-size: 14px;
  color: #999999;
}
/* line 172, ../sass/index.scss */
.playBox .listUserMsg dl dd:nth-of-type(2) {
  float: right;
  margin: 0;
}
/* line 175, ../sass/index.scss */
.playBox .listUserMsg dl dd:nth-of-type(2) a {
  display: block;
  margin-top: 4px;
}
/* line 178, ../sass/index.scss */
.playBox .listUserMsg dl dd:nth-of-type(2) a img {
  width: 90px;
}
/* line 185, ../sass/index.scss */
.playBox .shareBox {
  float: left;
  width: 100%;
  height: 35px;
  display: box;
  display: -webkit-box;
  display: -moz-box;
}
/* line 192, ../sass/index.scss */
.playBox .shareBox div {
  padding: 0;
}
/* line 194, ../sass/index.scss */
.playBox .shareBox div em {
  display: inline-block;
  margin: auto;
  position: relative;
  top: 3px;
}
/* line 200, ../sass/index.scss */
.playBox .shareBox div span {
  line-height: 10px;
  color: #999999;
  display: inline-block;
  height: 20px;
  width: 40px;
  position: relative;
  top: -5px;
  text-align: left;
}
/* line 209, ../sass/index.scss */
.playBox .shareBox div .zan {
  text-align: center;
  box-flex: 1;
  -webkit-box-flex: 1;
}
/* line 223, ../sass/index.scss */
.playBox .shareBox div .commit {
  text-align: center;
  box-flex: 1;
  -webkit-box-flex: 1;
}
/* line 233, ../sass/index.scss */
.playBox .shareBox div .Forward {
  text-align: center;
  box-flex: 1;
  -webkit-box-flex: 1;
}

/* line 244, ../sass/index.scss */
.liverSentence {
  font-size: 13px;
  width: 94%;
  float: left;
  color: #f8698f;
  text-indent: 20px;
  height: 45px;
  line-height: 45px;
  background-color: #f2f2f2;
  border-radius: 6px;
  margin: 5px 3%;
  position: relative;
}
/* line 256, ../sass/index.scss */
.liverSentence img {
  position: absolute;
  top: -18px;
  left: 16px;
  width: 30px;
}

/* line 263, ../sass/index.scss */
.noticeTime {
  font-size: 13px;
  width: 94%;
  float: left;
  color: #f8698f;
  text-indent: 20px;
  height: 45px;
  line-height: 45px;
  background-color: #f2f2f2;
  border-radius: 6px;
  margin: 5px 3%;
}

/* line 275, ../sass/index.scss */
.downloadApp {
  text-align: center;
  height: 34px;
  line-height: 34px;
  width: 100%;
  float: left;
}

/* line 284, ../sass/index.scss */
.shareWarp {
  position: relative;
}

/* line 287, ../sass/index.scss */
.shareWxMask {
  background: url(../../img/mask.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-height: 150px;
  position: fixed;
  top: 0;
  z-index: 120;
}

/* line 296, ../sass/index.scss */
.shareBox1 {
  width: 100%;
  background: #fff;
  z-index: 1000;
  overflow: hidden;
  transition: all 1s ease;
}
/* line 302, ../sass/index.scss */
.shareBox1 h4 {
  font-size: 14px;
  color: #999;
  text-align: center;
  margin: 20px 10px 10px 10px;
}
/* line 308, ../sass/index.scss */
.shareBox1 .shareList {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
/* line 312, ../sass/index.scss */
.shareBox1 .shareList ul {
  overflow-y: auto;
  margin: 10px auto;
}
/* line 315, ../sass/index.scss */
.shareBox1 .shareList ul li {
  float: left;
  width: 50px;
  text-align: center;
  width: 65px;
}
/* line 320, ../sass/index.scss */
.shareBox1 .shareList ul li a {
  display: inline-block;
  margin: auto;
}
/* line 321, ../sass/index.scss */
.shareBox1 .shareList ul li p {
  color: #333;
}
/* line 345, ../sass/index.scss */
.shareBox1 .sharewpBox {
  width: 100%;
  background: #fff;
  position: relative;
  top: -8px;
}
/* line 350, ../sass/index.scss */
.shareBox1 .sharewpBox .sharewp {
  border-radius: 5px;
  background: #91c41f;
  width: 95%;
  padding: 10px 0;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

/* line 363, ../sass/index.scss */
.bottomBanner {
  float: left;
}
/* line 365, ../sass/index.scss */
.bottomBanner a {
  width: 90%;
  display: block;
  margin: 10px auto;
}
/* line 369, ../sass/index.scss */
.bottomBanner a img {
  width: 100%;
  vertical-align: bottom;
}

/* line 376, ../sass/index.scss */
.hotRecommend {
  background-color: #FFFFFF;
  float: left;
  width: 100%;
}
/* line 380, ../sass/index.scss */
.hotRecommend h2 {
  color: #999999;
  text-indent: 10px;
  height: 34px;
  line-height: 34px;
}
/* line 386, ../sass/index.scss */
.hotRecommend .videoListBox {
  float: left;
  width: 100%;
}
/* line 390, ../sass/index.scss */
.hotRecommend .videoListBox ul {
  text-align: center;
  font-size: 0px;
  float: left;
  width: 100%;
}
/* line 395, ../sass/index.scss */
.hotRecommend .videoListBox ul li {
  position: relative;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  float: left;
}
/* line 401, ../sass/index.scss */
.hotRecommend .videoListBox ul li a {
  display: block;
}
/* line 404, ../sass/index.scss */
.hotRecommend .videoListBox ul li a .hotPic {
  width: 100%;
}

/* line 414, ../sass/index.scss */
.icons {
  width: 100%;
  float: left;
}

/* line 418, ../sass/index.scss */
.skyBox, .skyBox1 {
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  top: 0;
  z-index: 120;
  display: none;
  opacity: 0.7;
}
/* line 427, ../sass/index.scss */
.skyBox img, .skyBox1 img {
  width: 100%;
}

/* line 431, ../sass/index.scss */
.skyBox-anz {
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  top: 0;
  z-index: 120;
  display: none;
}
/* line 439, ../sass/index.scss */
.skyBox-anz img {
  width: 100%;
}
