@import '../base/_base';
@import '../base/_colorFont';
@import '../base/_other';
@import '../base/retina-sprites';
@import '../Connect';

@mixin fullWidth{
	width:100%;
}
@mixin txtCenter{
	text-align:center;
}
@mixin borderSmall($color){
	border:solid 1px $color;
}
@mixin bgColor($color){
	background:$color;
}
body{
	background:#f2f2f2;
}
.main{
	width:100%; 
}
video{position:relative;z-index:1;}
.activeList{
	padding-bottom:45px;
	ul li{
		width:100%; 
		position:relative;
		img{
			vertical-align:bottom;
		  	width:100%;
		  	min-height:120px;
		}
		span{
			position:absolute;
			display: block;
			width:100%;
			bottom:0;
			padding:10px 15px;
			background:rgba(0,0,0,0.2);
			color:#fff;
		}
	}
}