@import '../base/_base';
@import '../base/_colorFont';
@import '../base/_other';
@import '../base/retina-sprites';
@import '../Connect';

@mixin fullWidth{
	width:100%;
}
@mixin txtCenter{
	text-align:center;
}
@mixin borderSmall($color){
	border:solid 1px $color;
}
@mixin bgColor($color){
	background:$color;
}
body{
	background:#f2f2f2;
}
.main{
	width:100%; 
}
video{position:relative;z-index:1;}
.activeIndex{
	padding-bottom:38px;
	.activeIndexHead{
		@include bgColor(#fff);
		// border-bottom:solid 1px #ccc;
	  	padding-bottom:10px;
		.activeTitPic{
			@include txtCenter;
			position: relative;
		  min-height:190px;
		  	img{
			  min-height:190px;
			}
			p{
				text-align: left;
				color: #333;
				font-size:16px;
				padding:0 10px;
			}
		}
	  	.active-go-app{
		  margin:5px 15px;
		  background:#91c41f;
		  font-size:16px;
		  @include txtCenter;
		  color:#fff;
		  border-radius:6px;
		  padding:6px 0;
		  display:none;
		}
	}
	.activeMsg{
		padding:10px;
		font-size:14px;
		line-height: 24px;
		position:relative;
		.activeMsgCon{
			display: inline-block;
			width:92%;
		  	height:auto;
		  	@include overHidd;
		}
		.active-desc-arrow{
			position:absolute;
			right:15px; top:20px;
			display: inline-block;
			@include use-sprite(arrow-down);
		}
		.undrop-desc{
		  white-space:nowrap;
		}
	  	.drop-desc{
		  white-space:normal;
		}
	  	.arrow-down{
		  -webkit-transform:rotate(0deg);
		}
	  	.arrrow-up{
		  -webkit-transform:rotate(180deg);
		}
		.activeMsgTip{
			font-size:1.2rem;
			color:$fontcolor-999;
		}
	}
	.activeUseList{
		margin-top: 10px;
		.videoListSort{
			color:$fontcolor-333;
			@include bgColor(#fff);
			border-bottom:solid 1px #d9d9d9;
			padding:10px;
			text-align: right;
		  	position: relative;
			.arrowDownIcon{
				display: inline-block;
				position:relative;
				margin-left:3px;
				@include use-sprite(arrow-down);
			}
		  	.tabHidden{
			  @include  bgColor(#000);
			  border-radius: 5px;
			  padding: 5px 8px;
			  position: absolute;
			  top:30px;
			  right:10px;
			  z-index:10;
			  opacity: 0.8;
			  display: none;
			  p{
				color:#fff;
				font-size:14px;
				padding:5px 20px;
				line-height: 25px;
			  }
			}
		}
		.videoList1{
			// padding-bottom:38px;
			ul li{ width:100%;
				position:relative;
				background:#fff;
				margin:0 0 10px 0;
				//min-height:185px;
				dl{
					overflow:hidden;
					margin:0;
					padding:10px;
					dt{
						@include floatL;
						position:relative;
						img{
							margin:3px 0 0 0;
							height:30px;
							width:30px;
							border-radius:6px;
						}
						.userV1{
						  @include use-sprite(user_icon_blue);
						  position: absolute;
						  right:-5px;
						  bottom:0;
						}
						.userV2{
						  @include use-sprite(user_icon_yellow);
						  position: absolute;
						  right:-5px;
						  bottom:1px;
						}
						.userV3 {
						  @include use-sprite(user_icon_green);
						  position: absolute;
						  right: -5px;
						  bottom: 0
						}
					}
					dd:first-of-type{
						@include floatL;
						margin-left:10px;
						line-height:1.6rem;
						p:first-of-type{
							font-weight:bold;
							font-size:14px;
							color:$fontcolor-333;
						}
						p:nth-of-type(2){
							font-size:12px;
							color:$fontcolor-999;
						}
					}
					dd:nth-of-type(2){
						float:right;	
						padding-top:13px;
						.playIcon{
							@include use-sprite(play-24);
							display:inline-block;
						}
						.playData{
							font-size:1.4rem;
							color:#333;
							padding-left:5px; 
							line-height:15px;
							color:$fontcolor-999;
						}
					}
				}
				.playBox{
					video{ 
						@include fullWidth;
						height:100%;
						display:block; 
						vertical-align:bottom;
					}
				}
				.videoListTag{
				  font-size: 14px;
				  color:$fontcolor-333;
				  padding:5px 15px 0px 15px;
				  line-height: 24px;
				}
				.shareBox{
					display:box;
					display:-webkit-box;
					display:-moz-box;
					height: 35px;
					div{
						padding:0px 0 0 0;
						em{
							display:inline-block;margin:auto;
							position:relative;
							top:3px;
						}
						span{
							line-height:10px;
							color:$fontcolor-999;
							display:inline-block;
							height:20px; width:40px;
							position:relative;
							top:-5px; text-align:left;
						}
					}
//					.zan{
//						text-align:center;
//						box-flex:1;
//						-webkit-box-flex:1;
//						em{
//
//							@include use-sprite(love-48);
//						}
//					}

					.zan{
					  text-align:center;
					  box-flex:1;
					  -webkit-box-flex:1;
					  em.off{
						@include use-sprite(love-48);
					  }
					  em.on{
						@include use-sprite(love-red-48);
					  }
					}

					.commit{
						text-align:center;
						box-flex:1;
						-webkit-box-flex:1;
						em{
							
							@include use-sprite(Comment-48);

						}
					}
					.Forward{
						text-align:center;
						box-flex:1;
						-webkit-box-flex:1;
						em{
							@include use-sprite(Forward-48);
						}
					}
				}
			}
		}

	}





}
#openapp{
  position: fixed;
  opacity: 0;
}