@charset "UTF-8";
/* line 6, ../sass/_base.scss */
* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/_base.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/* line 19, ../sass/_base.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background: #fff;
  color: #333;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}

/* line 28, ../sass/_base.scss */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 34, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* line 40, ../sass/_base.scss */
img {
  border: 0;
}

/* line 45, ../sass/_base.scss */
table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 51, ../sass/_base.scss */
a {
  color: blue;
  text-decoration: none;
  output: none;
  color: #333;
}

/* line 58, ../sass/_base.scss */
input, button, textarea {
  -webkit-tap-highlight-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 67, ../sass/_base.scss */
.fr {
  float: right;
}

/* line 70, ../sass/_base.scss */
.fl {
  float: left;
}

/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/* line 7, ../sass/style.scss */
.main {
  min-width: 320px;
  max-width: 640px;
  height: auto;
  overflow: height;
  margin: auto;
  position: relative;
  left: 0;
  top: 0;
}
/* line 14, ../sass/style.scss */
.main .first {
  background: #140d20;
  width: 100%;
}
/* line 17, ../sass/style.scss */
.main .first .ad {
  width: 100%;
}
/* line 20, ../sass/style.scss */
.main .first .go-renzheng {
  font-size: 18px;
  color: #ffffff;
  width: 80%;
  padding: 10px 0;
  display: block;
  margin: auto;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
/* line 29, ../sass/style.scss */
.main .first .go-renzheng-ok {
  background: #91c41f;
}
/* line 32, ../sass/style.scss */
.main .first .go-renzheng-no {
  background: #999;
}
/* line 35, ../sass/style.scss */
.main .first .agree-check-box {
  width: 100%;
  margin: 30px auto;
  display: block;
  text-align: center;
}
/* line 40, ../sass/style.scss */
.main .first .agree-check-box .agree-check {
  position: relative;
  left: 0;
  top: 5px;
}
/* line 43, ../sass/style.scss */
.main .first .agree-check-box .agree-check-ok {
  background-image: url('/restwww/html5/app_within/liveIdentify/img/pic1x-s8b24b2f04c.png');
  background-position: -76px -54px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 43, ../sass/style.scss */
  .main .first .agree-check-box .agree-check-ok {
    background-image: url('/restwww/html5/app_within/liveIdentify/img/pic2x-s7f893142be.png');
    background-size: 160px 198px;
    background-position: -76px -54px;
    height: 20px;
    width: 20px;
  }
}
/* line 46, ../sass/style.scss */
.main .first .agree-check-box .agree-check-no {
  background-image: url('/restwww/html5/app_within/liveIdentify/img/pic1x-s8b24b2f04c.png');
  background-position: -16px -54px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 46, ../sass/style.scss */
  .main .first .agree-check-box .agree-check-no {
    background-image: url('/restwww/html5/app_within/liveIdentify/img/pic2x-s7f893142be.png');
    background-size: 160px 198px;
    background-position: -16px -54px;
    height: 20px;
    width: 20px;
  }
}

.top-msg{
  text-align: center;
  padding:10px;
  color:#666;
  background:#f1f1f1;
}
.top-msg .msg_arm img{
  width:20px;
  margin:0 5px;
}
/* line 102, ../sass/style.scss */
.main .form-item {
  background: #fff;
  padding: 10px 10px;
  line-height: 16px;
  border-bottom: solid 1px #f1f1f1;
}
/* line 108, ../sass/style.scss */
.main .form-item .item-left, .main .form-item .item-right {
  display: inline-block;
}
/* line 109, ../sass/style.scss */
.main .form-item .item-txt {
  width: 190px;
  padding: 4px;
  font-size: 14px;
}
.main .form-item .item-txtarea{
  width:200px;
  height:40px;
  resize: none;
  padding:0 4px;
  font-size: 14px;
}
.main .form-item input[name|=wechat]{
  display: none;
}
.item-left{
  font-size: 14px;
  color:#666;
  margin-right: 6px;
}
/* line 113, ../sass/style.scss */
.main .form-item .item-txt1 {
  font-size: 14px;
  width: 90px;
  padding: 4px;
}
/* line 117, ../sass/style.scss */
.main .form-item .item-select1 {
  width: 80px;
  position: relative;
}
/* line 120, ../sass/style.scss */
.main .form-item .item-select1 .arrow-down {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #91c41f;
}
/* line 131, ../sass/style.scss */
.main .form-item .item-select1 .select-tit {
  padding: 0 0 0 0px;
  font-size: 14px;
}
/* line 135, ../sass/style.scss */
.main .form-item .item-select1 .select-list1 {
  display: none;
  background: #fff;
  border: solid 1px #ccc;
  line-height: 24px;
  position: absolute;
  left: -10px;
  top:-10px;
  z-index: 22;
}
/* line 144, ../sass/style.scss */
.main .form-item .item-select1 .select-list1 li {
  padding: 5px 10px;
}
/* line 149, ../sass/style.scss */
.main .form-item .item-select {
  width: 80px;
  position: relative;
}
/* line 152, ../sass/style.scss */
.main .form-item .item-select .arrow-down {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #91c41f;
}
/* line 163, ../sass/style.scss */
.main .form-item .item-select .select-tit {
  padding: 0 0 0 0px;
  font-size: 14px;
}
/* line 167, ../sass/style.scss */
.main .form-item .item-select .select-list {
  display: none;
  width: 80px;
  background: #fff;
  border: solid 1px #ccc;
  line-height: 24px;
  position: absolute;
  left: 0;
  top: 20px;
  border-radius: 8px;
  z-index: 20;
}
/* line 176, ../sass/style.scss */
.main .form-item .item-select .select-list li {
  padding: 3px 6px;
}
/* line 181, ../sass/style.scss */
.main .form-item .sex-lab {
  margin: 0 5px 0 15px;
}
/* line 183, ../sass/style.scss */
.main .form-item .sex-lab em {
  position: relative;
  left: 0;
  top: 4px;
  margin-right: 4px;
}
/* line 187, ../sass/style.scss */
.main .form-item .sex-lab .sex-icon {
  display: inline-block;
  background: #ddd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
/* line 194, ../sass/style.scss */
.main .form-item .sex-lab .sex-icon-ok {
  display: inline-block;
  background-image: url('/restwww/html5/app_within/liveIdentify/img/pic1x-s8b24b2f04c.png');
  background-position: -56px -54px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #ddd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 194, ../sass/style.scss */
  .main .form-item .sex-lab .sex-icon-ok {
    background-image: url('/restwww/html5/app_within/liveIdentify/img/pic2x-s7f893142be.png');
    background-size: 160px 198px;
    background-position: -56px -54px;
    height: 20px;
    width: 20px;
  }
}
/* line 203, ../sass/style.scss */
.main .form-item .ident-code {
  font-size: 12px;
  color: #fff;
  background:#7cdb85;
  padding:5px 6px;
  display: inline-block;
  border-radius: 20px;
}
/* line 212, ../sass/style.scss */
.main .form-item .ident-code-ok {
  font-size: 12px;
  color: #fff;
  background:#7cdb85;
  padding:5px 6px;
  display: inline-block;
  border-radius: 20px;
}
/* line 216, ../sass/style.scss */
.main .form-item .ident-code-no {
  width:70px;
  font-size: 12px;
  color: #fff;
  background:#7cdb85;
  padding:5px 6px;
  display: inline-block;
  border-radius: 20px;
}
/* line 220, ../sass/style.scss */
.main .form-item .photo-tips {
  font-size: 14px;
  color: #999;
  margin: 0 0 12px 0;
}
/* line 223, ../sass/style.scss */
.main .form-item .photo-tips a {
  font-size: 14px;
  color: #91c41f;
}
/* line 228, ../sass/style.scss */
.main .form-item .doc-type1 {
  text-align: left;
  padding-top: 10px;
}
/* line 231, ../sass/style.scss */
.main .form-item .doc-type1 dl {
  position: relative;
  left: 0;
  top: 0;
  width:100px;
  display: inline-block;
  text-align: center;
  margin:0px;
  color: #999;
}







/* line 238, ../sass/style.scss */
.main .form-item .doc-type1 dl dd {
  margin: 5px 0;
}
/* line 241, ../sass/style.scss */
.main .form-item .doc-type1 dl .file-btn {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 75%;
  z-index: 10;
}
/* line 552, ../sass/style.scss */
.main .apply-fail .apply-msg {
  background: #fff;
  font-size: 12px;
  color: #999;
  height: 140px;
}
/* line 632, ../sass/style.scss */
.main .nobor {
  border: none;
  overflow: hidden;
}
/* line 637, ../sass/style.scss */
.mt10 {
  margin-top: 10px;
}
/* line 640, ../sass/style.scss */
.hide {
  display: none;
}

/* line 643, ../sass/style.scss */
.show {
  display: block;
}

.form-sub{
  width:80%;
  background:#f8698f;
  padding:12px 0;
  display: block;
  margin:10px auto;
  text-align: center;
  border-radius: 20px;
  color:#fff;
  font-size: 14px;
}

/* line 705, ../sass/style.scss */
.tipsWarp {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 8px;
  width: 40%;
  font-size: 14px;
  color: #fff;
  position: absolute;
  left: 30%;
  top: 30%;
  z-index: 30;
  text-align: center;
}

/* line 715, ../sass/style.scss */
.skyBox {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
}

/* line 722, ../sass/style.scss */
.input-gray {
  font-size: 12px;
  color: #ccc;
}

/* line 725, ../sass/style.scss */
.bottom-line {
  border-top: 1px #ccc solid;
  width: 200%;
  transform: scale(0.5, 0.5) translate(-50%, 0);
  -webkit-transform: scale(0.5, 0.5) translate(-50%, 0);
  -moz-transform: scale(0.5, 0.5) translate(-50%, 0);
  -o-transform: scale(0.5, 0.5) translate(-50%, 0);
}

/* line 734, ../sass/style.scss */
.loading {
  background: rgba(0, 0, 0, 0.6);
  width: 100px;
  height: 100px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  border-radius: 8px;
  padding: 10px;
  display: none;
}
/* line 744, ../sass/style.scss */
.loading img {
  width: 100%;
  height: 100%;
  animation: mylefthand 0.8s infinite linear;
  -webkit-animation: mylefthand 0.8s infinite linear;
  -moz-animation: mylefthand 0.8s infinite linear;
  -o-animation: mylefthand 0.8s infinite linear;
}

@keyframes mylefthand {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes mylefthand /* Safari å’Œ Chrome */ {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes mylefthand /* Firefox */ {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(90deg);
  }
  50% {
    -moz-transform: rotate(180deg);
  }
  75% {
    -moz-transform: rotate(270deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes mylefthand /* Opera */ {
  0% {
    -o-transform: rotate(0deg);
  }
  25% {
    -o-transform: rotate(90deg);
  }
  50% {
    -o-transform: rotate(180deg);
  }
  75% {
    -o-transform: rotate(270deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}

.preview-pho1{
  width:100px;
}
.colccc{
  color:#ccc;
}
.sub_ok{
  background: #fff;
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  text-align: center;
  line-height: 25px;
  display: none;
}
.sub_ok img{
  margin-top: 45%;
  margin-bottom:15px;
  width:20%;
}
.sub_ok p:nth-child(2){
  font-size:16px;
  color:#666;
}
.sub_ok p:nth-child(3){
  font-size: 12px;
  color:#ccc;
}
.word_num{
  color:#ccc;
  float: right;
  margin:15px 5px;
}
.s_arrow{
  border-left:solid 1px #ccc;
  border-bottom:solid 1px #ccc;
  width:10px;
  height: 10px;
  display: inline-block;
  transform:rotate(-45deg);
  float: right;
  position: absolute;
  right:10px;
  top:6px;
}
.file_msg{
  font-size: 14px;
}
span[id^="cnzz"]{
  display:none;
}