@import "../base/retina-sprites";
@import "../base/colorFont";
@import "../base/other"; 
@import "../base/base";
@import '../Connect';

.recommendContent{
	
	div{
		img.userPortrait{
			width:40px;
			height: 40px;
			border-radius:5px;
		}
		position:relative;
		height:40px;
		border-bottom:1px solid #d9d9d9;
		padding:12px 11px;
		img.user_icon_blue{
			position: absolute; 
			bottom:10px;
			left: 40px;
			width: 14px;
			border-radius:0;
		}
		img.user_icon_yellow{
			position: absolute;
			bottom:10px;
			left: 40px;
			width: 14px;
			border-radius:0;
		}
		img.user_icon_green{
			position: absolute;
			bottom:10px;
			left: 40px;
			width: 14px;
			border-radius:0;
		}
		span{
			display: inline-block;
			height: 20px;
			line-height: 20px;
			margin-left:10px;
		}
		.reTitle{
			color: #333333;
			font-size: 14px;
			width: 140px;
			@include overHidd;
			display: inline-block;
		}
		.reName{
			color: #999999;
			font-size: 12px;
		}
		a{
			position:absolute;
			right: 10px;
			top: 50%;
			margin-top: -2px;
			em.attenBtn{
				@include use-sprite(follow);
				display:block;
				margin-top: -10px;
			}
			em.attenBtnActive{
			@include use-sprite(follow-already);
			display:block;
			margin-top: -10px;
		}
		}
		
	}
}
#btnMore{
	margin-bottom:50px;
}
.downloadApp{
	a{
		width:100%;
		text-align:center;
		height:40px;
		line-height:40px;
		color:#ffffff;
		background-color:#91c41f;
		position:fixed;
		bottom:0;
		font-size: 16px;
	}	
}