@import '../base/_base';
//@import '../base/_colorFont';
@import '../base/_other';
@import '../base/retina-sprites';
@import '../Connect';
.main-inner{
	position:relative;
}
.personalPor{
	position:absolute;
	top:40px;
	left:36px;
	width:60px;
	height:75px;
	background-color:#ffffff;
	img{
		width: 50px;
		height: 50px;
		margin-left: 5px;
		margin-top: 5px;
		float: left;
	}
	p{
		@include overHidd;
		width: 60px;
		text-align: center;
	}
}
.inviteWords{
	position:absolute;
	top:150px;
	left:50%;
	margin-left:-80px;
	width:160px;
	color:#ffffff;
	font-size:13px;
	text-align:center;
	p{
		line-height: 20px;
	}
}
@media screen and (device-width:320px){
	.personalPor{
		position:absolute;
		top:40px;
		left:32px;
		width:60px;
		height:75px;
		background-color:#ffffff;
		img{
			width: 50px;
			height: 50px;
			margin-left: 5px;
			margin-top: 5px;
			float: left;
		}
		p{
			@include overHidd;
			width: 60px;
			text-align: center;
		}
	}
	.inviteWords{
		position:absolute;
		top:125px;
		left:50%;
		margin-left:-75px;
		width:165px;
		color:#ffffff;
		font-size:13px;
		text-align:center;
		p{
			line-height: 20px;
		}
	}
}
@media screen and (device-width:360px){
	.personalPor{
		position:absolute;
		top:40px;
		left:32px;
		width:60px;
		height:75px;
		background-color:#ffffff;
		img{
			width: 50px;
			height: 50px;
			margin-left: 5px;
			margin-top: 5px;
			float: left;
		}
		p{
			@include overHidd;
			width: 60px;
			text-align: center;
		}
	}
	.inviteWords{
		position:absolute;
		top:140px;
		left:50%;
		margin-left:-85px;
		width:170px;
		color:#ffffff;
		font-size:13px;
		text-align:center;
		p{
			line-height: 20px;
		}
	}
}
@media screen and (device-width:375px){
	.personalPor{
		position:absolute;
		top:45px;
		left:40px;
		width:60px;
		height:75px;
		background-color:#ffffff;
		img{
			width: 50px;
			height: 50px;
			margin-left: 5px;
			margin-top: 5px;
			float: left;
		}
		p{
			@include overHidd;
			width: 60px;
			text-align: center;
		}
	}
	.inviteWords{
		position:absolute;
		top:148px;
		left:50%;
		margin-left:-100px;
		width:200px;
		color:#ffffff;
		font-size:13px;
		text-align:center;
		p{
			line-height: 20px;
		}
	}
}
@media screen and (device-width:384px){
	.personalPor{
		position:absolute;
		top:50px;
		left:45px;
		width:60px;
		height:75px;
		background-color:#ffffff;
		img{
			width: 50px;
			height: 50px;
			margin-left: 5px;
			margin-top: 5px;
			float: left;
		}
		p{
			@include overHidd;
			width: 60px;
			text-align: center;
		}
	}
	.inviteWords{
		position:absolute;
		top:148px;
		left:50%;
		margin-left:-100px;
		width:200px;
		color:#ffffff;
		font-size:13px;
		text-align:center;
		p{
			line-height: 20px;
		}
	}
}
@media screen and (device-width:400px){
	.personalPor{
		position:absolute;
		top:50px;
		left:43px;
		width:70px;
		height:84px;
		background-color:#ffffff;
		img{
			width: 60px;
			height: 60px;
			margin-left: 5px;
			margin-top: 5px;
			float: left;
		}
		p{
			@include overHidd;
			width: 70px;
			text-align: center;
		}
	}
	.inviteWords{
		position:absolute;
		top:160px;
		left:50%;
		margin-left:-100px;
		width:200px;
		color:#ffffff;
		font-size:13px;
		text-align:center;
		p{
			line-height: 20px;
		}
	}
}
@media screen and (device-width:414px){
	.personalPor{
		position:absolute;
		top:50px;
		left:45px;
		width:70px;
		height:84px;
		background-color:#ffffff;
		img{
			width: 60px;
			height: 60px;
			margin-left: 5px;
			margin-top: 5px;
			float: left;
		}
		p{
			@include overHidd;
			width: 70px;
			text-align: center;
		}
	}
	.inviteWords{
		position:absolute;
		top:167px;
		left:50%;
		margin-left:-105px;
		width:210px;
		color:#ffffff;
		font-size:13px;
		text-align:center;
		p{
			line-height: 20px;
		}
	}
}
.videoList1{
	margin-top:10px;
	ul li{ width:100%;
		position:relative;
		background:#fff;
		// margin:0 0 10px 0;
		//min-height:185px;
		dl{
			overflow:hidden;
			margin:0;
			padding:10px;

			dt{
				@include floatL;
				position:relative;
				img{
					margin:3px 0 0 0;
					height:30px;
					width:30px;
					border-radius:6px;
				}
				img.user_icon_blue{
					position: absolute;
					bottom:2px;
					left: 20px;
					width: 14px;
					height: 14px;
					border-radius:0;
				}
				img.user_icon_yellow{
					position: absolute;
					bottom:2px;
					left: 20px;
					width: 14px;
					height: 14px;
					border-radius:0;
				}
				img.user_icon_green{
					position: absolute;
					bottom:2px;
					left: 20px;
					width: 14px;
					height: 14px;
					border-radius:0;
				}
				img.addV{ 
				    width: 12px;
				    height: 12px;
				    border-radius: 0;
				    position: absolute;
				    left: 20px;
				    top: 20px;
				}
			}
			dd:first-of-type{
				@include floatL;
				margin-left:10px;
				line-height:16px;
				p:first-of-type{
					font-weight:bold;
					font-size:13px;
					color:$fontcolor-333;
					@include overHidd;
					width: 140px;
				}
				p:nth-of-type(2){
					font-weight:bold;
					font-size:12px;
					color:$fontcolor-999;
				} 
			}
			dd:nth-of-type(2){
				float:right;	
				padding-top:13px;
				.playIcon{
					@include use-sprite(play-24);
					display:inline-block;
				}
				.playData1{
					font-size:14px;
					color:#333;
					padding-left:5px; 
					line-height:15px;
					color:$fontcolor-999;
				}
			}
		}
		.playBox{
			video{ 
				background:url(../../../img/test.jpg) no-repeat;
				background-size: $numFull $numFull;
				@include fullWidth;
				height:100%;
				display:block; 
				vertical-align:bottom;
				//min-height:200px;
				background-color:#000000;
			}
		}
		.videoDiscription{ 
				height: 30px;
			    line-height: 30px;
			    text-align: center;
			    display: block;
			    @include overHidd;
				width: 100%;
			}
		.shareBox{
			display:box;
			display:-webkit-box;
			display:-moz-box;
			div{
				padding:0;
				em{
					display:inline-block;margin:auto;
				
					position:relative;
					top:3px;
				}
				span{
					line-height:10px;
					color:$fontcolor-999;
					display:inline-block;
					height:20px; width:40px;
					position:relative;
					top:-5px; text-align:left;
				}
			}
			.zan{
				text-align:center;
				box-flex:1;
				-webkit-box-flex:1;
				em.off{						
				}
				em.on{
				}
			}
			.commit{
				text-align:center;
				box-flex:1;
				-webkit-box-flex:1;
			}
			.Forward{
				text-align:center;
				box-flex:1;
				-webkit-box-flex:1;
				em{
				}
			}
		}
	}
}
.videoDescription{
	display:block;
	// width:100%;
	padding:5px;
	text-align:left;
	color:#333333;
	font-size:14px;
}
.download{
	width:100%;
	clear:both;
	background-color:#91c41f;
	padding:1px 0;
	a{
		img{
			width: 160px;
			margin: 10px auto;
			display: block;
		}
	}
}
