@charset "UTF-8";
/* line 6, ../sass/_base.scss */
* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/_base.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/* line 19, ../sass/_base.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background: #f2f2f2;
  color: #333;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}

/* line 28, ../sass/_base.scss */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 34, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* line 40, ../sass/_base.scss */
img {
  border: 0;
}

/* line 45, ../sass/_base.scss */
table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 51, ../sass/_base.scss */
a {
  color: blue;
  text-decoration: none;
  output: none;
  color: #333;
}

/* line 58, ../sass/_base.scss */
input, button, textarea {
  -webkit-tap-highlight-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 67, ../sass/_base.scss */
.fr {
  float: right;
}

/* line 70, ../sass/_base.scss */
.fl {
  float: left;
}

/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/* line 10, ../sass/style.scss */
.main {
  min-width: 320px;
  max-width: 640px;
  height: auto;
  margin: auto;
  overflow: hidden;
  background: #f0f0f0;
  position: relative;
  left: 0;
  top: 0;
}
/* line 18, ../sass/style.scss */
.main .first {
  background: #fff;
  width: 100%;
}
/* line 21, ../sass/style.scss */
.main .first .ad {
  width: 100%;
}
/* line 24, ../sass/style.scss */
.main .first .renzheng-box {
  position: absolute;
  bottom: 20%;
  text-align: center;
  width: 100%;
}
/* line 30, ../sass/style.scss */
.main .first .rengzheng-tip {
  font-size: 13px;
  color: #666;
}
/* line 33, ../sass/style.scss */
.main .first .go-renzheng {
  font-size: 18px;
  color: #ffffff;
  width: 160px;
  padding: 10px 0;
  display: block;
  margin: 15px auto;
  -webkit-border-radius: 30px 30px 30px 30px;
  border-radius: 30px 30px 30px 30px;
  background: #ff5d88;
}
/* line 43, ../sass/style.scss */
.main .first .live-condition {
  width: 90%;
  margin: auto;
  padding: 0 0 15px 0;
}
/* line 47, ../sass/style.scss */
.main .first .live-condition dt {
  font-size: 14px;
  color: #9c77b2;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 52, ../sass/style.scss */
.main .first .live-condition dd {
  padding-left: 5%;
  line-height: 20px;
  font-size: 12px;
  color: #777ab2;
}
/* line 59, ../sass/style.scss */
.main .form-item {
  background: #fff;
  border-bottom: solid 1px #f0f0f0;
  padding: 10px 10px;
  line-height: 16px;
}
/* line 64, ../sass/style.scss */
.main .form-item .item-left {
  width: 75px;
  text-align: left;
}
/* line 68, ../sass/style.scss */
.main .form-item .item-left, .main .form-item .item-right {
  display: inline-block;
  font-size: 14px;
}
/* line 69, ../sass/style.scss */
.main .form-item .item-txt {
  width: 205px;
  padding: 4px;
  font-size: 14px;
}
/* line 74, ../sass/style.scss */
.main .form-item .item-txt1 {
  width: 90px;
  padding: 4px;
  font-size: 14px;
}
/* line 79, ../sass/style.scss */
.main .form-item .sele-box {
  min-width: 55px;
  float: left;
  position: relative;
  left: 0;
  top: 5px;
  margin: 0 8px 0 0;
  font-size: 14px;
  border: solid 1px #ccc;
  padding: 5px 5px;
}
/* line 88, ../sass/style.scss */
.main .form-item .sele-box2 {
  position: relative;
  left: 0;
  top: 0;
  width: 160px;
  font-size: 14px;
  border: solid 1px #ccc;
  padding: 5px 5px;
}
/* line 95, ../sass/style.scss */
.main .form-item .arrow {
  border-left: solid 1px #666;
  border-bottom: solid 1px #666;
  transform: rotate(45deg);
  -webkit-transform: rotate(-45deg);
  width: 10px;
  height: 10px;
  display: block;
  float: right;
  margin-right: 3px;
}
/* line 106, ../sass/style.scss */
.main .form-item #s_province, .main .form-item #s_userid, .main .form-item #s_city, .main .form-item #s_bankType {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
}
/* line 112, ../sass/style.scss */
.main .form-item .item-sele1 {
  width: 80px;
  font-size: 16px;
  border: solid 1px red;
  padding: 3px 5px;
  opacity: 0;
  -webkit-opacity: 0;
  filter: alpha(opacity=0);
}
/* line 125, ../sass/style.scss */
.main .form-item .ident-code {
  background: none;
  position: absolute;
  right: 10px;
  top: 9px;
  padding: 3px 5px;
  font-size: 14px;
  color: #ff5d88;
  border-radius: 5px;
  width: 78px;
  height: 24px;
}
/* line 137, ../sass/style.scss */
.main .form-item .ident-code-ok {
  font-size: 14px;
  color: #ff5d88;
}
/* line 141, ../sass/style.scss */
.main .form-item .ident-code-no {
  color: #999;
}
/* line 145, ../sass/style.scss */
.main .form-item .photo-tips {
  font-size: 14px;
  color: #999;
  margin: 0 0 12px 0;
}
/* line 148, ../sass/style.scss */
.main .form-item .photo-tips a {
  font-size: 14px;
  color: #91c41f;
}
/* line 152, ../sass/style.scss */
.main .form-item .doc-type1 {
  text-align: center;
  padding-top: 10px;
}
/* line 155, ../sass/style.scss */
.main .form-item .doc-type1 dl {
  position: relative;
  left: 0;
  top: 0;
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 0 0px 0 3px;
  color: #999;
}
/* line 162, ../sass/style.scss */
.main .form-item .doc-type1 dl dt {
  width: 100%;
  max-height: 90px;
  overflow: hidden;
}
/* line 167, ../sass/style.scss */
.main .form-item .doc-type1 dl dd {
  margin: 5px 0;
}
/* line 170, ../sass/style.scss */
.main .form-item .doc-type1 dl .file-btn {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 75%;
  z-index: 10;
}
/* line 180, ../sass/style.scss */
.main .from-box1 {
  position: relative;
  left: 0;
  top: 0;
  font-size: 14px;
  color: #333;
  background: #f2f2f2;
}
/* line 184, ../sass/style.scss */
.main .from-box1 .fail-reson {
  display: none;
}
/* line 187, ../sass/style.scss */
.main .from-box1 .form-item {
  background: #fff;
  padding: 10px 10px;
  position: relative;
  line-height: 16px;
}
/* line 194, ../sass/style.scss */
.main .from-box1 .form-item .phone-modify-btn {
  color: #91c41f;
  margin-left: 25px;
}
/* line 198, ../sass/style.scss */
.main .from-box1 .form-item .item-select1 {
  width: 80px;
  position: relative;
}
/* line 201, ../sass/style.scss */
.main .from-box1 .form-item .item-select1 .arrow-down {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #91c41f;
}
/* line 212, ../sass/style.scss */
.main .from-box1 .form-item .item-select1 .select-tit {
  padding: 0 0 0 0px;
  font-size: 14px;
}
/* line 216, ../sass/style.scss */
.main .from-box1 .form-item .item-select1 .select-list1 {
  display: none;
  width: 80px;
  background: #fff;
  border: solid 1px #ccc;
  line-height: 24px;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 22;
}
/* line 225, ../sass/style.scss */
.main .from-box1 .form-item .item-select1 .select-list1 li {
  padding: 3px 6px;
}
/* line 230, ../sass/style.scss */
.main .from-box1 .form-item .item-select {
  width: 80px;
  position: relative;
}
/* line 233, ../sass/style.scss */
.main .from-box1 .form-item .item-select .arrow-down {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #91c41f;
}
/* line 244, ../sass/style.scss */
.main .from-box1 .form-item .item-select .select-tit {
  padding: 0 0 0 0px;
  font-size: 14px;
}
/* line 248, ../sass/style.scss */
.main .from-box1 .form-item .item-select .select-list {
  display: none;
  width: 80px;
  background: #fff;
  border: solid 1px #ccc;
  line-height: 24px;
  position: absolute;
  left: 0;
  top: 20px;
  border-radius: 8px;
  z-index: 20;
}
/* line 257, ../sass/style.scss */
.main .from-box1 .form-item .item-select .select-list li {
  padding: 3px 6px;
}
/* line 262, ../sass/style.scss */
.main .from-box1 .form-item .sex-lab {
  margin: 0 5px 0 15px;
}
/* line 264, ../sass/style.scss */
.main .from-box1 .form-item .sex-lab em {
  position: relative;
  left: 0;
  top: 4px;
  margin-right: 4px;
}
/* line 268, ../sass/style.scss */
.main .from-box1 .form-item .sex-lab .sex-icon {
  display: inline-block;
  background: #ddd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
/* line 275, ../sass/style.scss */
.main .from-box1 .form-item .sex-lab .sex-icon-ok {
  display: inline-block;
  background-image: url('/resth5/html5/app_within/liveIdentify/img/pic1x-s0993c07d7d.png');
  background-position: -56px -54px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 275, ../sass/style.scss */
  .main .from-box1 .form-item .sex-lab .sex-icon-ok {
    background-image: url('/resth5/html5/app_within/liveIdentify/img/pic2x-s828e30889f.png');
    background-size: 160px 204px;
    background-position: -116px -54px;
    height: 20px;
    width: 20px;
  }
}
/* line 283, ../sass/style.scss */
.main .from-box1 .form-item .photo-tips {
  font-size: 12px;
  color: #999;
}
/* line 285, ../sass/style.scss */
.main .from-box1 .form-item .photo-tips a {
  font-size: 14px;
  color: #91c41f;
}
/* line 292, ../sass/style.scss */
.main .from-box1 .form-submit1 {
  width: 90%;
  padding: 10px 0;
  text-align: center;
  background: #ff5d88;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 15px auto;
}
/* line 297, ../sass/style.scss */
.main .from-box1 .last-from-warp {
  background: #f2f2f2;
}
/* line 300, ../sass/style.scss */
.main .from-box1 .parmpt-warp {
  text-align: center;
  padding-top: 20px;
  display: none;
}
/* line 305, ../sass/style.scss */
.main .from-box1 .parmpt-warp .pic1 img, .main .from-box1 .parmpt-warp .pic2 img, .main .from-box1 .parmpt-warp .pic3 img {
  width: 75%;
}
/* line 309, ../sass/style.scss */
.main .from-box1 .parmpt-warp .pic1, .main .from-box1 .parmpt-warp .pic2, .main .from-box1 .parmpt-warp .pic3 {
  display: none;
  margin-bottom: 10px;
}
/* line 313, ../sass/style.scss */
.main .from-box1 .parmpt-warp .close-parmpt {
  background: #f2f2f2;
  width: 40%;
  padding: 10px 0;
  text-align: center;
  background: #ff5d88;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: auto;
}
/* line 320, ../sass/style.scss */
.main .shili-pic {
  width: 90%;
  display: block;
  margin: 10px auto 0 auto;
}
/* line 325, ../sass/style.scss */
.main .shili-tips {
  width: 100%;
  text-align: center;
  margin: 15px 0 0 0;
  color: #999;
  font-size: 14px;
}
/* line 332, ../sass/style.scss */
.main .parmpt-warp {
  text-align: center;
  padding-top: 10px;
  display: none;
}
/* line 337, ../sass/style.scss */
.main .parmpt-warp .pic1 img, .main .parmpt-warp .pic2 img, .main .parmpt-warp .pic3 img {
  width: 70%;
}
/* line 341, ../sass/style.scss */
.main .parmpt-warp .pic1, .main .parmpt-warp .pic2, .main .parmpt-warp .pic3 {
  display: none;
  margin-bottom: 10px;
}
/* line 345, ../sass/style.scss */
.main .parmpt-warp .close-parmpt {
  background: #f2f2f2;
  width: 40%;
  padding: 10px 0;
  text-align: center;
  background: #ff5d88;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: auto;
}
/* line 352, ../sass/style.scss */
.main .from-box3 .last-from-warp {
  background: #f2f2f2;
}
/* line 355, ../sass/style.scss */
.main .from-box3 .form-submit3 {
  width: 70%;
  padding: 10px 0;
  text-align: center;
  background: #ff5d88;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 10px auto 30px auto;
}
/* line 360, ../sass/style.scss */
.main .apply-success {
  position: relative;
  left: 0;
  top: 0;
}
/* line 362, ../sass/style.scss */
.main .apply-success .apply-icon-right {
  overflow: hidden;
  clear: both;
  margin: 0 0 15px 0;
}
/* line 367, ../sass/style.scss */
.main .apply-success .apply-type-icon {
  background: url(../img/agree-icon.png) no-repeat;
  width: 60px;
  height: 60px;
  margin: 15px auto;
  background-size: 100% 100%;
  display: block;
}
/* line 376, ../sass/style.scss */
.main .apply-success .apply-msg {
  background: #fff;
  text-align: center;
  font-size: 12px;
  color: #999;
  height: 140px;
}
/* line 381, ../sass/style.scss */
.main .apply-success .apply-msg .apply-msg-con {
  width: 100%;
  line-height: 20px;
}
/* line 385, ../sass/style.scss */
.main .apply-success .apply-msg h4 {
  font-size: 16px;
  color: #333;
}
/* line 389, ../sass/style.scss */
.main .apply-success .apply-foot-msg {
  font-size: 12px;
  color: #999;
  width: 90%;
  margin: 10px auto;
  line-height: 20px;
  white-space: pre;
}
/* line 397, ../sass/style.scss */
.main .from-box4 {
  background: #f2f2f2;
  position: relative;
  left: 0;
  top: 0;
  font-size: 14px;
  color: #333;
}
/* line 401, ../sass/style.scss */
.main .from-box4 .apply-status {
  background: #91c41f;
}
/* line 404, ../sass/style.scss */
.main .from-box4 .form-item {
  border: none;
}
/* line 407, ../sass/style.scss */
.main .from-box4 .item-right {
  color: #666;
}
/* line 410, ../sass/style.scss */
.main .from-box4 .form-sub {
  text-align: center;
  margin: 0 0 15px 0;
  background: #f2f2f2;
  border-top: solid 1px #ccc;
}
/* line 416, ../sass/style.scss */
.main .from-box4 .modify-btn {
  width: 45%;
  padding: 10px 0;
  text-align: center;
  background: #ff5d88;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 0 5px 0 0;
  display: inline-block;
}
/* line 421, ../sass/style.scss */
.main .from-box4 .sub-btn {
  width: 45%;
  padding: 10px 0;
  text-align: center;
  background: #ff5d88;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 0 0 0 5px;
  display: inline-block;
}
/* line 426, ../sass/style.scss */
.main .from-box4 .liver-msg-pic {
  text-align: center;
}
/* line 428, ../sass/style.scss */
.main .from-box4 .liver-msg-pic dl {
  display: inline-block;
  width: 45%;
  margin: 10px 5px;
}
/* line 432, ../sass/style.scss */
.main .from-box4 .liver-msg-pic dl dd {
  margin-top: 10px;
}
/* line 433, ../sass/style.scss */
.main .from-box4 .liver-msg-pic dl img {
  width: 100%;
}
/* line 438, ../sass/style.scss */
.main .from-box4 .box4-tip {
  width: 90%;
  margin: 10px auto;
  font-size: 12px;
  color: #999;
}
/* line 444, ../sass/style.scss */
.main .preview-pho1, .main .preview-pho2, .main .preview-pho3 {
  width: 100%;
}
/* line 447, ../sass/style.scss */
.main #nopadd {
  padding: 0;
}
/* line 450, ../sass/style.scss */
.main .nobor {
  border: none;
  overflow: hidden;
}

/* line 455, ../sass/style.scss */
.mt10 {
  margin-top: 10px;
}

/* line 458, ../sass/style.scss */
.hide {
  display: none;
}

/* line 461, ../sass/style.scss */
.show {
  display: block;
}

/* line 465, ../sass/style.scss */
.from-box1, .from-box2, .from-box3, .from-box4, .apply-fail, .live-agreement, .apply-success, .apply-fail, .document-display {
  display: none;
}

/* line 468, ../sass/style.scss */
.apply-status {
  padding: 10px;
  background: #f1f1f1;
  line-height: 22px;
  z-index: 50;
  color: #999;
  text-align: left;
}

/* line 478, ../sass/style.scss */
.apply-status-fail {
  background: #ff6666;
  color: #fff;
  width: 100%;
  overflow: hidden;
  line-height: 22px;
  z-index: 50;
  text-align: left;
  display: none;
  font-size: 14px;
  color: #fff;
}
/* line 488, ../sass/style.scss */
.apply-status-fail .fial-head {
  text-align: center;
  color: #fffca5;
  height: 35px;
  line-height: 35px;
  position: relative;
  left: 0;
  top: 0;
}
/* line 494, ../sass/style.scss */
.apply-status-fail .fial-head .fail-icon {
  background-image: url('/resth5/html5/app_within/liveIdentify/img/pic1x-s0993c07d7d.png');
  background-position: 0 -54px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  position: relative;
  left: -8px;
  top: 4px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 494, ../sass/style.scss */
  .apply-status-fail .fial-head .fail-icon {
    background-image: url('/resth5/html5/app_within/liveIdentify/img/pic2x-s828e30889f.png');
    background-size: 160px 204px;
    background-position: -60px -54px;
    height: 16px;
    width: 16px;
  }
}
/* line 498, ../sass/style.scss */
.apply-status-fail .fial-head .see-fail {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 12px;
  color: #fff;
  border: solid 1px #fff;
  padding: 0px 10px;
  line-height: 20px;
  border-radius: 5px;
}
/* line 510, ../sass/style.scss */
.apply-status-fail .fial-list {
  border-top: solid 1px #ff7870;
  width: 98%;
  margin: auto;
  padding: 10px;
}
/* line 515, ../sass/style.scss */
.apply-status-fail .fial-list p {
  clear: both;
  line-height: 20px;
}

/* line 522, ../sass/style.scss */
.tipsWarp {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 8px;
  width: 40%;
  font-size: 14px;
  color: #fff;
  position: fixed;
  left: 30%;
  top: 50%;
  z-index: 30;
  text-align: center;
}

/* line 533, ../sass/style.scss */
.skyBox {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
}

/* line 540, ../sass/style.scss */
.input-gray {
  font-size: 12px;
  color: #ccc;
}

/* line 543, ../sass/style.scss */
.bottom-line {
  border-top: 1px #ccc solid;
  width: 200%;
  transform: scale(0.5, 0.5) translate(-50%, 0);
  -webkit-transform: scale(0.5, 0.5) translate(-50%, 0);
  -moz-transform: scale(0.5, 0.5) translate(-50%, 0);
  -o-transform: scale(0.5, 0.5) translate(-50%, 0);
}

/* line 552, ../sass/style.scss */
.loading {
  background: rgba(0, 0, 0, 0.6);
  width: 100px;
  height: 100px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  border-radius: 8px;
  padding: 10px;
  display: none;
}
/* line 562, ../sass/style.scss */
.loading img {
  width: 100%;
  height: 100%;
  animation: mylefthand 0.8s infinite linear;
  -webkit-animation: mylefthand 0.8s infinite linear;
  -moz-animation: mylefthand 0.8s infinite linear;
  -o-animation: mylefthand 0.8s infinite linear;
}

@keyframes mylefthand {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes mylefthand /* Safari 和 Chrome */ {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes mylefthand /* Firefox */ {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(90deg);
  }
  50% {
    -moz-transform: rotate(180deg);
  }
  75% {
    -moz-transform: rotate(270deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes mylefthand /* Opera */ {
  0% {
    -o-transform: rotate(0deg);
  }
  25% {
    -o-transform: rotate(90deg);
  }
  50% {
    -o-transform: rotate(180deg);
  }
  75% {
    -o-transform: rotate(270deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
