html,body{
	width:100%;
	height:100%;
}
*{
	padding:0;
	margin:0;
}
img{
	border:none;
}
input,button{
	appearance:none;
	-webkit-appearance:none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
.addId{
	display:none;
}
#urlBox{
	display:none;
}
body{
	
	width:100%;
	height:100%;
	
}
.entrance{
	background:url(../images/pk_bg.jpg) no-repeat;
	width:100%;
	height:100%;
	background-size:cover;
	position:relative;
}
.btnBlock{
	position:absolute;
	bottom:10%;
	right:20px;
	width:40%;
	z-index:1;
}
.entrance a{
	/*width:160px;*/
	display:block;
	margin:16px 0;
}
.entrance a.rule{
	width:80px;
	margin-left:20px;
}
.entrance a img{
	width:100%;
}
.ruleBlock{
	width:80%;
	position:absolute;
	left:10%;
	top:14%;
	z-index:2;
	display:none;
}
.ruleBlock img{
	width:100%;
}
.ruleBlock img.returnBtn{
	width:80%;
	position:absolute;
	bottom:40px;
	left:10%;
}
.bg1{
	width:100%;
	height:100%;
	background:url(../images/call_blbg.jpg) no-repeat;
	background-size:cover;
}
.enterId{
	background:url(../images/call_inputbg.png) no-repeat;
	background-size:contain;
	width:80%;
    height: 30%;
    position: absolute;
    bottom: 10%;
    left: 10%;
}
.enterId .BliveID_lianmeng{
	width: 80%;
	margin:15px auto 5px auto;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #954cd1;
    display:block;
    text-indent:10px;
    color:#cecec4;
}
.enterId .BliveID_buluo{
	width: 80%;
	margin:15px auto 5px auto;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #fda86f;
    display:block;
    text-indent:10px;
    color:#cecec4;
}
.enterId .makeSure_lianmeng,.enterId .makeSure_buluo{
    width: 200px;
    height: 50px;
    background: url(../images/call_btn.png) no-repeat;
    background-size: 200px 50px;
    border: none;
    margin: 0 auto;
    display: block;
}
.enterId p{
	text-align:center;
	color:red;
	font-size:13px;
	width:100%;
}
.bg2{
	width:100%;
	height:100%;
	background:url(../images/call_lmbg.jpg) no-repeat;
	background-size:cover;
}
.user1{
	
}
#urlBox{
	position:absolute;
	top:10%;
	left:10%;
	width:80%;
	z-index:1;
}
.url{
    width: 64%;
    word-wrap: break-word;
    margin: 0 auto;
    position: absolute;
    top: 200px;
    left: 18%;
    font-size: 14px;
    color: #553006;
    word-break: break-all;
}
@media screen and (device-width:320px){
	.url{
		top: 170px;
	}
}
@media screen and (device-width:375px){
	.url{
		top: 204px;
	}
}
@media screen and (device-width:414px){
	.url{
		top: 235px;
	}
}
.blackBox{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.4);
	display:none;
	z-index:0;
}
.promptBox {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  position: fixed;
  top: 45%;
  font-size: 14px;
  line-height: 24px;
  max-width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.closeBtn{
	position: absolute;
    left: 50%;
    bottom: 20px;
    width: 200px;
    margin-left: -100px;
}