@import "../base/retina-sprites";
@import "../base/colorFont";
@import "../base/other";
@import "../base/base";
@import '../Connect';
body{
	background-color:$background-color-body;
}
header{
	padding:10px;
	border:1px solid #d9d9d9;
	background-color:$background-color-head; 
	position:relative;
}
header span{
	display:inline-block;
	width:100%;
	height:44px;
	line-height:44px;
}
header span.indexRecommend{ 
	font-size:16px; 
	color:$gray-six;
	font-weight:700;
	position:absolute;
	top:10px;
	left:0;
	display:none;
	a{
		margin-left:10px;
	}
}
header span.login{
	font-size:18px;
	font-weight:bold;
	color:$fontcolor-333;
	text-align:center;
}
.line{
	width:100%;
	height:1px;
	background-color:#d9d9d9;
}
.indexContent{
	background-color:#ffffff;
	padding:5px 0px 1px 20px;
	margin-top:15px;
	margin-bottom:$mb16;
}
.login_icon_id{
	display:inline-block;
	@include use-sprite(login_icon_id);
	height:$lineHeight-24;
	line-height:$lineHeight-24;
	float:left;
}
.login_icon_password{
	display:inline-block;
	@include use-sprite(login_icon_password);
	height:$lineHeight-24;
	line-height:$lineHeight-24;
	float:left; 
}
.indexContent p{
	margin:10px 20px 10px 0px;
	height:26px;
}
.indexContent p input{
	// height:22px;
	line-height:20px;
	text-indent:5px;
	width:80%;
	font-size:14px;
	margin-top:2px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	border-radius:0;
	padding:0;
}
.btnLogin{
	padding:0 10px;
}
.btnLogin input{
	width:100%;
	height:42px;
	line-height:42px;
	background-color:#91c41f;
	border-radius:4px;
	color:#ffffff;
	font-size:$fontsize-large;
}
.password{
	padding:10px;
	margin-bottom:42px;
}
.password a{
	font-size:$fontsize-small;
	color:#91c41f;
	padding:0 10px;
}
.thirdParty{
	padding:0 10px 0 10px;
}
.thirdParty div.title{
	position: relative;
	height:18px;
}
.thirdParty div.title span.halfLine{
	width:34%;
	height:1px;
	background-color:#d9d9d9;
	display:inline-block;
}
.thirdParty div.title span.word{
	display:inline-block;
	position:absolute;
	top:-50%;
	left:50%;
	margin-left:-38px;
	color:#666666;
	font-size:15px;
}
.thirdPartyContent{
	width:218px;
	margin:30px auto;
	height:50px;
	text-align:center;
}
.thirdPartyContent a{
	display:none;
}
.tercentQQ{
	@include use-sprite(login_icon_qq);
	display:inline-block;
	margin-right:10px;
	position:relative;
	span{
		position:absolute;
		bottom:-20px;
		left: 0;
		width: 100%;
	}
}
.webChat{
	@include use-sprite(login_icon_WeChat);
	display:inline-block;
	margin:0 10px;
	position:relative;
	span{ 
		position:absolute;
		bottom:-20px;
		left: 0;
		width: 100%;
	}
}
.sina{
	@include use-sprite(login_icon_Sina);
	display:inline-block;
	margin-left:10px;
	position:relative;
	span{
		position:absolute;
		bottom:-20px;
		left: 0;
		width: 100%;
	}
}
footer{
	text-align:center;
	margin-top:100px;
  	font-size: 14px;
  	position:relative;
}