<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd"
	default-lazy-init="true">
	<!-- 凭证匹配器 -->
	<bean id="credentialsMatcher" class="com.busap.vcs.oauth.credentials.RetryLimitHashedCredentialsMatcher">
		<constructor-arg ref="cacheManagerWrapper" />
		<!-- md5 -->
		<property name="hashAlgorithmName" value="${password.algorithmName}" />
		<!-- 2 -->
		<property name="hashIterations" value="${password.hashIterations}" />
		<!-- 5 -->
		<property name="retryLimit" value="${password.retryLimit}" />

		<property name="storedCredentialsHexEncoded" value="true" />
	</bean>

	<!-- Realm实现 -->
	<bean id="userRealm" class="com.busap.vcs.oauth.realm.RUserRealm">
		<!-- <property name="credentialsMatcher" ref="credentialsMatcher"/> -->
		<property name="cachingEnabled" value="false" />
	</bean>
	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="userRealm" />
	</bean>

	<!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager" />
		<property name="arguments" ref="securityManager" />
	</bean>

	<bean id="bvsAuthenticationFilter" class="com.busap.vcs.oauth.filter.AuthcAdviceFilter"></bean>
	<bean id="logoutFilter" class="com.busap.vcs.oauth.filter.LogoutFilter"></bean>
	<bean id="h5Filter" class="com.busap.vcs.oauth.filter.AuthcH5AdviceFilter"></bean>

	<!-- Shiro的Web过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/page/user/login" />
		<property name="filters">
			<util:map>
				<entry key="bvsAuthc" value-ref="bvsAuthenticationFilter" />
				<entry key="logout" value-ref="logoutFilter" />
				<entry key="h5Filter" value-ref="h5Filter" />
			</util:map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/ = anon
				/logout = logout
				/authorize=anon
				/accessToken=anon

				/h5/**=anon
				/html5/**=anon
				
				/activity/home = anon
				/activity/activityIndex = anon
				/activity/activityList = anon
				/activity/activityTag = anon
				/thirdPart/wechatCallback = anon
				/thirdPart/qqCallback = anon
				/thirdPart/sinaCallback = anon
				/homePage = anon
				/rank = anon
				/user/userDetail = anon
				/user/login = anon
				/user/register = anon
				/user/forgetPwd = anon
				/video/videoDetail = anon
				/video/tagVideos = anon
				/video/inviteFriendVideo = anon
				/praise/praiseList = anon
				/live/shareLive = anon
				/live/shareLiveNotice = anon
				/live/mic = anon
				/live/busEntertainment = anon
				/live/** = anon
				/prize/getPrize = anon
				/prize/festival = anon
				/pay/callback = anon
				/pay/create = anon
				/pay/createCharge = anon
				/pay/getUserInfo = anon
				/pay/wechatCallback = anon
				/live/liveActivityRank=anon
				/school/home = anon
				/footballGirl/register = anon
				/footballGirl/home = anon
				/footballGirl/getCode = anon
				/footballGirl/rank = anon
				/bstar/register = anon
				/bstar/home = anon
				/bstar/getCode = anon
				/wow/register = anon
				/wow/home = anon
				/wow/getCode = anon
				/wow/share = anon
				/sing/home = anon
				/sing/shareRank = anon
				/sing/timeSem = anon
				/sing/singSport = anon
				/sing/singWz = anon
				/sing/singWz2 = anon
				/sing/singWz0910 = anon
				/sing/singWz1112 = anon
				/school/query = anon
				/school/register = anon
				/school/getInfoByInviteCode = anon
				/school/getCode = anon
				/school/getInviteInfo = anon
				/school/voiceRank = anon
				/spread/home = anon
				/spread/commit = anon

				/html/**=anon
				/img/**=anon
				/js/**=anon
				/css/**=anon
				/** = bvsAuthc
				
			</value>
		</property>
	</bean>

	<!-- check user login filter -->
	<bean id="needLoginAuthenticationFilter" class="com.busap.vcs.webcomn.security.CaptchaFormAuthenticationFilter" />

	<!-- make Shiro's lifecyclebean working -->
	<bean id="shiroLifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<!-- 权限异常捕获 -->
	<bean class="com.busap.vcs.oauth.web.exception.OAuthExceptionHandler" />
</beans>