@import '../base/_base';
@import '../base/_colorFont';
@import '../base/_other';
@import '../base/retina-sprites';
@import '../Connect';

body{background:#f2f2f2;}
@mixin fullWidth{
	width:100%;
}
@mixin txtCenter{
	text-align:center;
}

.main{
	width:100%; 
	margin-top:54px;
	background:#f2f2f2;
}
video{position:relative;z-index:1;}
.nav{
	width:100%;
	overflow:hidden;
	
	p{
		padding:10px;
		color:#999;
		font-size:1.2rem;
	}
}
.addV{
	@include use-sprite(user_icon_yellow);
	display:inline-block;
	position:absolute;
	left:21px; top:21px;
}
.funPerson{
	background:#fff;
	dl{
		overflow:hidden;
		margin:0;
		padding:10px;
		dt{
			position:relative;
			@include floatL;
			img{
				margin:3px 0 0 0;
				height:30px;
				width:30px;
				border-radius:6px;
			}
		}
		dd:first-of-type{
			@include floatL;
			margin-left:10px;
			line-height:1.6rem;
			p:first-of-type{
				font-weight:bold;
				font-size:1.3rem;
				color:$fontcolor-333;
			}
			p:nth-of-type(2){
				font-weight:bold;
				font-size:1.2rem;
				color:$fontcolor-999;
			}
		}
		dd:nth-of-type(2){
			float:right;	
			padding-top:5px;
			a{
				@include use-sprite(follow);
				display:block;
			}
		}
	}

}
.videoList1{
	padding-bottom:38px;
	margin-top:10px;
	
	ul li{ width:100%;
		position:relative;
		background:#fff;
		margin:0 0 10px 0;
		//min-height:185px;
		dl{
			overflow:hidden;
			margin:0;
			padding:10px;
			dt{
				@include floatL;
				position:relative;
				img{
					margin:3px 0 0 0;
					height:30px;
					width:30px;
					border-radius:6px;
				}
			}
			dd:first-of-type{
				@include floatL;
				margin-left:10px;
				line-height:1.6rem;
				p:first-of-type{
					font-weight:bold;
					font-size:1.3rem;
					color:$fontcolor-333;
				}
				p:nth-of-type(2){
					font-weight:bold;
					font-size:1.2rem;
					color:$fontcolor-999;
				}
			}
			dd:nth-of-type(2){
				float:right;	
				padding-top:13px;
				.playIcon{
					@include use-sprite(play-24);
					display:inline-block;
				}
				.playData{
					font-size:1.4rem;
					color:#333;
					padding-left:5px; 
					line-height:15px;
					color:$fontcolor-999;
				}
			}
		}
		.playBox{
			video{ 
				background:url(../../../img/test.jpg) no-repeat;
				background-size: $numFull $numFull;
				@include fullWidth;
				height:100%;
				display:block; 
				vertical-align:bottom;
				//min-height:200px;
			}
		}
		.shareBox{
			display:box;
			display:-webkit-box;
			display:-moz-box;
			div{
				padding:10px 0 0 0;
				em{
					display:inline-block;margin:auto;
				
					position:relative;
					top:3px;
				}
				span{
					line-height:10px;
					color:$fontcolor-999;
					display:inline-block;
					height:20px; width:40px;
					position:relative;
					top:-5px; text-align:left;
				}
			}
			.zan{
				text-align:center;
				box-flex:1;
				-webkit-box-flex:1;
				em{
					
					@include use-sprite(love-48);
				}
			}
			.commit{
				text-align:center;
				box-flex:1;
				-webkit-box-flex:1;
				em{
					
					@include use-sprite(Comment-48);

				}
			}
			.Forward{
				text-align:center;
				box-flex:1;
				-webkit-box-flex:1;
				em{
					@include use-sprite(Forward-48);
				}
			}
		}
	}
}


// empty page style
//-----------------
.emptyIcon{
	width:90%;
	height:100%;
	margin:auto;
	text-align:center;
	overflow:hidden;
	.empty1{
		background:url(../../img/empty2.png) no-repeat;
		width:50px;
		background-size:100% 100%;
		height:80px;
		margin-right:15%;
		display:block;
		float:right;
	}
	.empty2{
		background:url(../../img/empty1.png) center no-repeat;
		background-size:100% 100%;
		width:215px;
		height:155px;
		margin:65px auto 0 auto;
		


	}
	p{float:left; text-align:center; width:100%; margin-top:10px;
		font-size:1.4rem; color:$fontcolor-999;
	}
}


