@import '../base/_base';
@import '../base/_colorFont';
@import '../base/_other';
@import '../base/retina-sprites';
@import '../Connect';

@mixin fullWidth{
	width:100%;
}
@mixin txtCenter{
	text-align:center;
}

.main{
	width:100%; 
	background:#f2f2f2;
}
video{position:relative;z-index:1;}
.nav{ 
	width:100%;
	overflow:hidden;
	
	p{	
		position:relative;
		padding:10px;
		color:#999;
		font-size:12px;
		a{	
			position:absolute;
			top: 6px;
			right: 10px;
			border:1px solid #91c41f;
			color:#91c41f;
			padding:6px 10px;
			border-radius:4px;
			float: right;
			height: 11px;
			line-height: 11px;
			font-size: 14px;
			text-indent: 0;
		}
	}
}
.addV{
	@include use-sprite(user_icon_yellow);
	display:inline-block;
	position:absolute;
	left:21px; top:21px;
}
.funPerson{
	background:#fff;
	margin-bottom:40px;
	dl{
		overflow:hidden;
		margin:0;
		padding:10px;
		border-bottom:1px solid #d9d9d9;
		dt{
			position:relative;
			@include floatL;
			img{
				margin:3px 0 0 0;
				height:30px;
				width:30px;
				border-radius:6px;
			}
			img.addV{
				width: 12px;
				height: 12px;
				border-radius:0;
			}
		}
		dd:first-of-type{
			@include floatL;
			margin-left:10px;
			line-height:16px;
			p:first-of-type{
				font-weight:bold;
				font-size:13px;
				color:$fontcolor-333;
				width: 140px;
				@include overHidd;
			}
			p:nth-of-type(2){
				// font-weight:bold;
				font-size:12px;
				color:$fontcolor-999;
				width: 140px;
				@include overHidd;
			}
		}
		dd:nth-of-type(2){
			float:right;	
			padding-top:5px;
			position:relative;
			a{
				// @include use-sprite(follow);
				position:absolute;
				top: 0;
				right: 0px;
				display:block;
				em.attenBtn{
					display:inline-block;
					@include use-sprite(follow);
					margin-top:5px;
				}
			  	em.attenBtnActive{
				  display:inline-block;
				  @include use-sprite(follow-nobor);
				  margin-top:5px;

				}
			}
		}
	}
}
.downloadApp{
	width:100%;
	clear:both;
	a{
		width:100%;
		text-align:center;
		height:40px;
		line-height:40px;
		color:#ffffff;
		background-color:#91c41f;
		position:fixed;
		bottom:0;
		font-size: 16px;
	}
}


