$prefix-for-webkit: true !default;
$prefix-for-mozilla: true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera: true !default;
$prefix-for-spec: true !default;

@mixin prefixer ($property, $value, $prefixes) {
  @each $prefix in $prefixes {

    @if $prefix == webkit and $prefix-for-webkit == true {
      -webkit-#{$property}: $value;
    }
    @else if $prefix == moz and $prefix-for-mozilla == true {
      -moz-#{$property}: $value;
    }
    @else if $prefix == ms and $prefix-for-microsoft == true {
      -ms-#{$property}: $value;
    }
    @else if $prefix == o and $prefix-for-opera == true {
      -o-#{$property}: $value;
    }
    @else if $prefix == spec and $prefix-for-spec == true {
      #{$property}: $value;
    }
    @else {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}
@mixin border-radius($radius...){
  @include prefixer(border-radius, $radius, webkit spec);
}
@mixin box-shadow($shadow...) {
    @include prefixer(box-shadow, $shadow, webkit spec);
}
@mixin posA($left:0,$top:0){
	position: absolute;
	left:$left;
	top:$top;
}
@mixin posR($left:0,$top:0){
	position: relative;
	left:$left;
	top:$top;
}
@mixin float($float:left){
	float:$float;
}
@mixin fontStyle($color,$size){
	font-size:$size;
	color:$color;
}
@mixin txtCenter{
  text-align: center;
}
@mixin btn-ok($width){
  width:$width;
  padding:10px 0;
  @include txtCenter;
  background: #91c41f;
  border-radius: 8px;
  @include fontStyle(#fff,18px);
  display: block;
}
@mixin btn-no($width){
  width:$width;
  padding:10px 0;
  @include txtCenter;
  background: #999;
  border-radius: 8px;
  @include fontStyle(#fff,18px);
  display:block;
}