//
// reset css
// --------------------------------------------------
//@include box-sizing(border-box);

* {
  -webkit-tap-highlight-color: transparent;

}

html, body {
  margin: 0;
  padding: 0;
  // height: 100%;
  width: 100%;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-size: 12px;
  background: #f2f2f2;
  color:#333;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  max-width: 100%;
}

table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: blue;
  text-decoration: none;
  output: none;
  color:#333;
}

input,button,textarea{
  -webkit-tap-highlight-color: transparent;
  border:none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;

}
.fr{
  float: right;
}
.fl{
  float: left;
}
@mixin fullWidth{
	width:100%;
}
@mixin txtCenter{
	text-align:center;
}
@mixin borderSmall($color){
	border:solid 1px $color;
}
@mixin bgColor($color){
	background:$color;
}
@mixin font($size,$color,$nomal){
  font-size:$size;
  color:$color;
  font-weight: $nomal;
}
@mixin overHidd{
  display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}

@mixin poRe{
  position: relative;
}
@mixin poAb{
  position: absolute;
}

//font color
//-------------------------
$fontcolor-68: #686868;
$fontcolor-white: #ffffff;
$fontcolor-999: #999999;
$fontcolor-333: #333333;

// font size
//-------------------------
$fontsize-none:0px;
$fontsize-base: 14px;
$fontsize-small: 12px;
$fontsize-16: 16px;
$fontsize-large: 18px;

// color
// -------------------------
$link-white: #ffffff;
$title-white: #ffffff;
$link-tap: #999999;
$gray-dark: #333;
$gray-six:#666666;

// zindex
// -------------------------
$zindex-mask: 8000;
$zindex-mask-content: 9000;
$zindex-mask-navbar: 10000;
$zindex-mask-view-controller: 10001;
$zindex-action-sheet: 10002;