@charset "UTF-8";
/* line 6, ../sass/_base.scss */
* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/_base.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/* line 19, ../sass/_base.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background: #f2f2f2;
  color: #333;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}

/* line 28, ../sass/_base.scss */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 34, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* line 40, ../sass/_base.scss */
img {
  border: 0;
}

/* line 45, ../sass/_base.scss */
table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 51, ../sass/_base.scss */
a {
  color: blue;
  text-decoration: none;
  output: none;
  color: #333;
}

/* line 58, ../sass/_base.scss */
input, button, textarea {
  -webkit-tap-highlight-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 67, ../sass/_base.scss */
.fr {
  float: right;
}

/* line 70, ../sass/_base.scss */
.fl {
  float: left;
}

/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/* line 7, ../sass/style.scss */
.main {
  min-width: 320px;
  max-width: 640px;
  height: auto;
  overflow: height;
  margin: auto;
  position: relative;
  left: 0;
  top: 0;
}
/* line 14, ../sass/style.scss */
.main .first {
  background: #140d20;
  width: 100%;
}
/* line 17, ../sass/style.scss */
.main .first .ad {
  width: 100%;
}
/* line 20, ../sass/style.scss */
.main .first .go-renzheng {
  font-size: 18px;
  color: #ffffff;
  width: 80%;
  padding: 10px 0;
  display: block;
  margin: auto;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
/* line 29, ../sass/style.scss */
.main .first .go-renzheng-ok {
  background: #91c41f;
}
/* line 32, ../sass/style.scss */
.main .first .go-renzheng-no {
  background: #999;
}
/* line 35, ../sass/style.scss */
.main .first .agree-check-box {
  width: 100%;
  margin: 30px auto;
  display: block;
  text-align: center;
}
/* line 40, ../sass/style.scss */
.main .first .agree-check-box .agree-check {
  position: relative;
  left: 0;
  top: 5px;
}
/* line 43, ../sass/style.scss */
.main .first .agree-check-box .agree-check-ok {
  background-image: url('/restwww/html5/app_within/liveIdentify/img/pic1x-s8b24b2f04c.png');
  background-position: -76px -54px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 43, ../sass/style.scss */
  .main .first .agree-check-box .agree-check-ok {
    background-image: url('/restwww/html5/app_within/liveIdentify/img/pic2x-s7f893142be.png');
    background-size: 160px 198px;
    background-position: -76px -54px;
    height: 20px;
    width: 20px;
  }
}
/* line 46, ../sass/style.scss */
.main .first .agree-check-box .agree-check-no {
  background-image: url('/restwww/html5/app_within/liveIdentify/img/pic1x-s8b24b2f04c.png');
  background-position: -16px -54px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 46, ../sass/style.scss */
  .main .first .agree-check-box .agree-check-no {
    background-image: url('/restwww/html5/app_within/liveIdentify/img/pic2x-s7f893142be.png');
    background-size: 160px 198px;
    background-position: -16px -54px;
    height: 20px;
    width: 20px;
  }
}
/* line 49, ../sass/style.scss */
.main .first .agree-check-box .agree-check-word {
  color: #999;
}
/* line 51, ../sass/style.scss */
.main .first .agree-check-box .agree-check-word a {
  color: #73c7e3;
}
/* line 56, ../sass/style.scss */
.main .first .live-condition {
  width: 90%;
  margin: auto;
  padding: 0 0 15px 0;
}
/* line 60, ../sass/style.scss */
.main .first .live-condition dt {
  font-size: 14px;
  color: #9c77b2;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 65, ../sass/style.scss */
.main .first .live-condition dd {
  padding-left: 5%;
  line-height: 20px;
  font-size: 12px;
  color: #777ab2;
}
/* line 72, ../sass/style.scss */
.main .live-agreement {
  background: #fff;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 76, ../sass/style.scss */
.main .live-agreement .live-agreement-tit {
  font-size: 14px;
  color: #333;
  padding: 10px 4% 8px 4%;
}
/* line 80, ../sass/style.scss */
.main .live-agreement .live-agreement-msg {
  font-size: 12px;
  color: #666;
  width: 94%;
  margin: 10px auto;
  line-height: 22px;
  overflow-y: auto;
}
/* line 86, ../sass/style.scss */
.main .live-agreement .live-agreement-msg p {
  text-indent: 25px;
}
/* line 90, ../sass/style.scss */
.main .live-agreement .close-live-agreement {
  width: 40%;
  padding: 10px 0;
  text-align: center;
  background: #91c41f;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: auto;
  position: fixed;
  left: 30%;
  bottom: 20px;
}
/* line 102, ../sass/style.scss */
.main .form-item {
  background: #fff;
  padding: 10px 10px;
  line-height: 16px;
}
/* line 108, ../sass/style.scss */
.main .form-item .item-left, .main .form-item .item-right {
  display: inline-block;
}
/* line 109, ../sass/style.scss */
.main .form-item .item-txt {
  width: 160px;
  padding: 4px;
}
/* line 113, ../sass/style.scss */
.main .form-item .item-txt1 {
  width: 90px;
  padding: 4px;
}
/* line 117, ../sass/style.scss */
.main .form-item .item-select1 {
  width: 80px;
  position: relative;
}
/* line 120, ../sass/style.scss */
.main .form-item .item-select1 .arrow-down {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #91c41f;
}
/* line 131, ../sass/style.scss */
.main .form-item .item-select1 .select-tit {
  padding: 0 0 0 0px;
  font-size: 14px;
}
/* line 135, ../sass/style.scss */
.main .form-item .item-select1 .select-list1 {
  display: none;
  width: 80px;
  background: #fff;
  border: solid 1px #ccc;
  line-height: 24px;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 22;
}
/* line 144, ../sass/style.scss */
.main .form-item .item-select1 .select-list1 li {
  padding: 3px 6px;
}
/* line 149, ../sass/style.scss */
.main .form-item .item-select {
  width: 80px;
  position: relative;
}
/* line 152, ../sass/style.scss */
.main .form-item .item-select .arrow-down {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #91c41f;
}
/* line 163, ../sass/style.scss */
.main .form-item .item-select .select-tit {
  padding: 0 0 0 0px;
  font-size: 14px;
}
/* line 167, ../sass/style.scss */
.main .form-item .item-select .select-list {
  display: none;
  width: 80px;
  background: #fff;
  border: solid 1px #ccc;
  line-height: 24px;
  position: absolute;
  left: 0;
  top: 20px;
  border-radius: 8px;
  z-index: 20;
}
/* line 176, ../sass/style.scss */
.main .form-item .item-select .select-list li {
  padding: 3px 6px;
}
/* line 181, ../sass/style.scss */
.main .form-item .sex-lab {
  margin: 0 5px 0 15px;
}
/* line 183, ../sass/style.scss */
.main .form-item .sex-lab em {
  position: relative;
  left: 0;
  top: 4px;
  margin-right: 4px;
}
/* line 187, ../sass/style.scss */
.main .form-item .sex-lab .sex-icon {
  display: inline-block;
  background: #ddd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
/* line 194, ../sass/style.scss */
.main .form-item .sex-lab .sex-icon-ok {
  display: inline-block;
  background-image: url('/restwww/html5/app_within/liveIdentify/img/pic1x-s8b24b2f04c.png');
  background-position: -56px -54px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #ddd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 194, ../sass/style.scss */
  .main .form-item .sex-lab .sex-icon-ok {
    background-image: url('/restwww/html5/app_within/liveIdentify/img/pic2x-s7f893142be.png');
    background-size: 160px 198px;
    background-position: -56px -54px;
    height: 20px;
    width: 20px;
  }
}
/* line 203, ../sass/style.scss */
.main .form-item .ident-code {
  background: none;
  padding: 3px 5px;
  border: solid 1px #fff;
  font-size: 12px;
  color: #91c41f;
  border-radius: 5px;
  width: 72px;
  height: 24px;
}
/* line 212, ../sass/style.scss */
.main .form-item .ident-code-ok {
  border: solid 1px #91c41f;
  font-size: 12px;
  color: #91c41f;
}
/* line 216, ../sass/style.scss */
.main .form-item .ident-code-no {
  border: solid 1px #999;
  color: #999;
}
/* line 220, ../sass/style.scss */
.main .form-item .photo-tips {
  font-size: 14px;
  color: #999;
  margin: 0 0 12px 0;
}
/* line 223, ../sass/style.scss */
.main .form-item .photo-tips a {
  font-size: 14px;
  color: #91c41f;
}
/* line 228, ../sass/style.scss */
.main .form-item .doc-type1 {
  text-align: center;
  padding-top: 10px;
}
/* line 231, ../sass/style.scss */
.main .form-item .doc-type1 dl {
  position: relative;
  left: 0;
  top: 0;
  width: 45%;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  color: #999;
}
/* line 238, ../sass/style.scss */
.main .form-item .doc-type1 dl dd {
  margin: 5px 0;
}
/* line 241, ../sass/style.scss */
.main .form-item .doc-type1 dl .file-btn {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 75%;
  z-index: 10;
}
/* line 258, ../sass/style.scss */
.main .from-box1 {
  position: relative;
  left: 0;
  top: 0;
  font-size: 14px;
  color: #333;
  background: #f2f2f2;
}
/* line 262, ../sass/style.scss */
.main .from-box1 .fail-reson {
  display: none;
}
/* line 265, ../sass/style.scss */
.main .from-box1 .form-item {
  background: #fff;
  padding: 10px 10px;
  line-height: 16px;
}
/* line 271, ../sass/style.scss */
.main .from-box1 .form-item .item-left, .main .from-box1 .form-item .item-right {
  display: inline-block;
}
/* line 272, ../sass/style.scss */
.main .from-box1 .form-item .item-txt {
  width: 160px;
  padding: 4px;
  font-size: 14px;
}
/* line 277, ../sass/style.scss */
.main .from-box1 .form-item .item-txt1 {
  width: 90px;
  padding: 4px;
  font-size: 14px;
}
/* line 282, ../sass/style.scss */
.main .from-box1 .form-item .phone-modify-btn {
  color: #91c41f;
  margin-left: 25px;
}
/* line 286, ../sass/style.scss */
.main .from-box1 .form-item .item-select1 {
  width: 80px;
  position: relative;
}
/* line 289, ../sass/style.scss */
.main .from-box1 .form-item .item-select1 .arrow-down {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #91c41f;
}
/* line 300, ../sass/style.scss */
.main .from-box1 .form-item .item-select1 .select-tit {
  padding: 0 0 0 0px;
  font-size: 14px;
}
/* line 304, ../sass/style.scss */
.main .from-box1 .form-item .item-select1 .select-list1 {
  display: none;
  width: 80px;
  background: #fff;
  border: solid 1px #ccc;
  line-height: 24px;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 22;
}
/* line 313, ../sass/style.scss */
.main .from-box1 .form-item .item-select1 .select-list1 li {
  padding: 3px 6px;
}
/* line 318, ../sass/style.scss */
.main .from-box1 .form-item .item-select {
  width: 80px;
  position: relative;
}
/* line 321, ../sass/style.scss */
.main .from-box1 .form-item .item-select .arrow-down {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #91c41f;
}
/* line 332, ../sass/style.scss */
.main .from-box1 .form-item .item-select .select-tit {
  padding: 0 0 0 0px;
  font-size: 14px;
}
/* line 336, ../sass/style.scss */
.main .from-box1 .form-item .item-select .select-list {
  display: none;
  width: 80px;
  background: #fff;
  border: solid 1px #ccc;
  line-height: 24px;
  position: absolute;
  left: 0;
  top: 20px;
  border-radius: 8px;
  z-index: 20;
}
/* line 345, ../sass/style.scss */
.main .from-box1 .form-item .item-select .select-list li {
  padding: 3px 6px;
}
/* line 350, ../sass/style.scss */
.main .from-box1 .form-item .sex-lab {
  margin: 0 5px 0 15px;
}
/* line 352, ../sass/style.scss */
.main .from-box1 .form-item .sex-lab em {
  position: relative;
  left: 0;
  top: 4px;
  margin-right: 4px;
}
/* line 356, ../sass/style.scss */
.main .from-box1 .form-item .sex-lab .sex-icon {
  display: inline-block;
  background: #ddd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
/* line 363, ../sass/style.scss */
.main .from-box1 .form-item .sex-lab .sex-icon-ok {
  display: inline-block;
  background-image: url('/restwww/html5/app_within/liveIdentify/img/pic1x-s8b24b2f04c.png');
  background-position: -56px -54px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 363, ../sass/style.scss */
  .main .from-box1 .form-item .sex-lab .sex-icon-ok {
    background-image: url('/restwww/html5/app_within/liveIdentify/img/pic2x-s7f893142be.png');
    background-size: 160px 198px;
    background-position: -56px -54px;
    height: 20px;
    width: 20px;
  }
}
/* line 371, ../sass/style.scss */
.main .from-box1 .form-item .ident-code {
  background: none;
  padding: 3px 5px;
  border: solid 1px #fff;
  font-size: 12px;
  color: #91c41f;
  border-radius: 5px;
}
/* line 378, ../sass/style.scss */
.main .from-box1 .form-item .ident-code-ok {
  border: solid 1px #91c41f;
  font-size: 12px;
  color: #91c41f;
}
/* line 382, ../sass/style.scss */
.main .from-box1 .form-item .ident-code-no {
  border: solid 1px #999;
  color: #999;
}
/* line 386, ../sass/style.scss */
.main .from-box1 .form-item .photo-tips {
  font-size: 12px;
  color: #999;
}
/* line 388, ../sass/style.scss */
.main .from-box1 .form-item .photo-tips a {
  font-size: 14px;
  color: #91c41f;
}
/* line 393, ../sass/style.scss */
.main .from-box1 .form-item .doc-type1 {
  text-align: center;
  padding-top: 10px;
}
/* line 396, ../sass/style.scss */
.main .from-box1 .form-item .doc-type1 dl {
  position: relative;
  left: 0;
  top: 0;
  width: 45%;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  color: #999;
}
/* line 403, ../sass/style.scss */
.main .from-box1 .form-item .doc-type1 dl dd {
  margin: 5px 0;
}
/* line 406, ../sass/style.scss */
.main .from-box1 .form-item .doc-type1 dl .file-btn {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 75%;
  z-index: 10;
}
/* line 416, ../sass/style.scss */
.main .from-box1 .form-submit1 {
  width: 70%;
  padding: 10px 0;
  text-align: center;
  background: #91c41f;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 15px auto;
}
/* line 421, ../sass/style.scss */
.main .from-box1 .last-from-warp {
  background: #f2f2f2;
}
/* line 424, ../sass/style.scss */
.main .from-box1 .parmpt-warp {
  text-align: center;
  padding-top: 20px;
  display: none;
}
/* line 429, ../sass/style.scss */
.main .from-box1 .parmpt-warp .pic1 img, .main .from-box1 .parmpt-warp .pic2 img, .main .from-box1 .parmpt-warp .pic3 img {
  width: 75%;
}
/* line 433, ../sass/style.scss */
.main .from-box1 .parmpt-warp .pic1, .main .from-box1 .parmpt-warp .pic2, .main .from-box1 .parmpt-warp .pic3 {
  display: none;
  margin-bottom: 10px;
}
/* line 437, ../sass/style.scss */
.main .from-box1 .parmpt-warp .close-parmpt {
  background: #f2f2f2;
  width: 40%;
  padding: 10px 0;
  text-align: center;
  background: #91c41f;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: auto;
}
/* line 446, ../sass/style.scss */
.main .from-box2 {
  background: #f2f2f2;
  position: relative;
  left: 0;
  top: 0;
  font-size: 14px;
  color: #333;
}
/* line 450, ../sass/style.scss */
.main .from-box2 .form-item {
  border: none;
}
/* line 453, ../sass/style.scss */
.main .from-box2 .form-sub {
  text-align: center;
  margin: 0 0 15px 0;
  background: #f2f2f2;
  border-top: solid 1px #ccc;
}
/* line 459, ../sass/style.scss */
.main .from-box2 .modify-btn {
  width: 45%;
  padding: 10px 0;
  text-align: center;
  background: #fff;
  color: #91c41f;
  border: solid 1px #91c41f;
  border-radius: 8px;
  font-size: 16px;
  margin: 0 5px 0 0;
  display: inline-block;
}
/* line 471, ../sass/style.scss */
.main .from-box2 .sub-btn {
  width: 45%;
  padding: 10px 0;
  text-align: center;
  background: #91c41f;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 0 0 0 5px;
  display: inline-block;
}
/* line 476, ../sass/style.scss */
.main .from-box2 .liver-msg-pic {
  text-align: center;
}
/* line 478, ../sass/style.scss */
.main .from-box2 .liver-msg-pic dl {
  display: inline-block;
  width: 45%;
  margin: 10px 5px;
}
/* line 482, ../sass/style.scss */
.main .from-box2 .liver-msg-pic dl dd {
  margin-top: 10px;
}
/* line 483, ../sass/style.scss */
.main .from-box2 .liver-msg-pic dl img {
  width: 137px;
  height: 77px;
}
/* line 490, ../sass/style.scss */
.main .parmpt-warp {
  text-align: center;
  padding-top: 10px;
  display: none;
}
/* line 495, ../sass/style.scss */
.main .parmpt-warp .pic1 img, .main .parmpt-warp .pic2 img, .main .parmpt-warp .pic3 img {
  width: 70%;
}
/* line 499, ../sass/style.scss */
.main .parmpt-warp .pic1, .main .parmpt-warp .pic2, .main .parmpt-warp .pic3 {
  display: none;
  margin-bottom: 10px;
}
/* line 503, ../sass/style.scss */
.main .parmpt-warp .close-parmpt {
  background: #f2f2f2;
  width: 40%;
  padding: 10px 0;
  text-align: center;
  background: #91c41f;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: auto;
}
/* line 511, ../sass/style.scss */
.main .from-box3 .last-from-warp {
  background: #f2f2f2;
}
/* line 514, ../sass/style.scss */
.main .from-box3 .form-submit3 {
  width: 70%;
  padding: 10px 0;
  text-align: center;
  background: #91c41f;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 10px auto 30px auto;
}
/* line 519, ../sass/style.scss */
.main .apply-success {
  position: relative;
  left: 0;
  top: 0;
}
/* line 521, ../sass/style.scss */
.main .apply-success .apply-type-icon {
  position: absolute;
  left: 9%;
  top: 32px;
  background-image: url('/restwww/html5/app_within/liveIdentify/img/pic1x-s8b24b2f04c.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  height: 54px;
  width: 54px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 521, ../sass/style.scss */
  .main .apply-success .apply-type-icon {
    background-image: url('/restwww/html5/app_within/liveIdentify/img/pic2x-s7f893142be.png');
    background-size: 160px 198px;
    background-position: -96px -54px;
    height: 54px;
    width: 54px;
  }
}
/* line 525, ../sass/style.scss */
.main .apply-success .apply-msg {
  background: #fff;
  font-size: 12px;
  color: #999;
  height: 140px;
}
/* line 529, ../sass/style.scss */
.main .apply-success .apply-msg .apply-msg-con {
  width: 66%;
  line-height: 20px;
  position: relative;
  left: 30%;
  top: 23%;
}
/* line 534, ../sass/style.scss */
.main .apply-success .apply-msg h4 {
  font-size: 16px;
  color: #333;
}
/* line 538, ../sass/style.scss */
.main .apply-success .apply-foot-msg {
  font-size: 12px;
  color: #999;
  width: 90%;
  margin: 10px auto;
  line-height: 20px;
  white-space: pre;
}
/* line 546, ../sass/style.scss */
.main .apply-fail {
  position: relative;
  left: 0;
  top: 0;
}
/* line 548, ../sass/style.scss */
.main .apply-fail .apply-type-icon {
  position: absolute;
  left: 9%;
  top: 32px;
  background-image: url('/restwww/html5/app_within/liveIdentify/img/pic1x-s8b24b2f04c.png');
  background-position: -54px 0;
  background-repeat: no-repeat;
  display: inline-block;
  height: 54px;
  width: 54px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 548, ../sass/style.scss */
  .main .apply-fail .apply-type-icon {
    background-image: url('/restwww/html5/app_within/liveIdentify/img/pic2x-s7f893142be.png');
    background-size: 160px 198px;
    background-position: 0 0;
    height: 54px;
    width: 54px;
  }
}
/* line 552, ../sass/style.scss */
.main .apply-fail .apply-msg {
  background: #fff;
  font-size: 12px;
  color: #999;
  height: 140px;
}
/* line 556, ../sass/style.scss */
.main .apply-fail .apply-msg .apply-msg-con {
  width: 66%;
  line-height: 20px;
  position: relative;
  left: 30%;
  top: 23%;
}
/* line 561, ../sass/style.scss */
.main .apply-fail .apply-msg h4 {
  font-size: 16px;
  color: #333;
}
/* line 565, ../sass/style.scss */
.main .apply-fail .apply-foot-msg {
  font-size: 12px;
  color: #999;
  width: 90%;
  margin: 10px auto;
  line-height: 20px;
  white-space: pre;
}
/* line 572, ../sass/style.scss */
.main .apply-fail .again-sub {
  width: 70%;
  padding: 10px 0;
  text-align: center;
  background: #91c41f;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: auto;
}
/* line 577, ../sass/style.scss */
.main .from-box4 {
  background: #f2f2f2;
  position: relative;
  left: 0;
  top: 0;
  font-size: 14px;
  color: #333;
}
/* line 581, ../sass/style.scss */
.main .from-box4 .apply-status {
  background: #91c41f;
}
/* line 584, ../sass/style.scss */
.main .from-box4 .form-item {
  border: none;
}
/* line 587, ../sass/style.scss */
.main .from-box4 .item-right {
  color: #666;
}
/* line 590, ../sass/style.scss */
.main .from-box4 .form-sub {
  text-align: center;
  margin: 0 0 15px 0;
  background: #f2f2f2;
  border-top: solid 1px #ccc;
}
/* line 596, ../sass/style.scss */
.main .from-box4 .modify-btn {
  width: 45%;
  padding: 10px 0;
  text-align: center;
  background: #91c41f;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 0 5px 0 0;
  display: inline-block;
}
/* line 601, ../sass/style.scss */
.main .from-box4 .sub-btn {
  width: 45%;
  padding: 10px 0;
  text-align: center;
  background: #91c41f;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 0 0 0 5px;
  display: inline-block;
}
/* line 606, ../sass/style.scss */
.main .from-box4 .liver-msg-pic {
  text-align: center;
}
/* line 608, ../sass/style.scss */
.main .from-box4 .liver-msg-pic dl {
  display: inline-block;
  width: 45%;
  margin: 10px 5px;
}
/* line 612, ../sass/style.scss */
.main .from-box4 .liver-msg-pic dl dd {
  margin-top: 10px;
}
/* line 613, ../sass/style.scss */
.main .from-box4 .liver-msg-pic dl img {
  width: 100%;
}
/* line 618, ../sass/style.scss */
.main .from-box4 .box4-tip {
  width: 90%;
  margin: 10px auto;
  font-size: 12px;
  color: #999;
}
/* line 624, ../sass/style.scss */
.main .preview-pho1 {
  width: 137px;
  height: 77px;
}
/* line 628, ../sass/style.scss */
.main .preview-pho2 {
  width: 137px;
  height: 77px;
}
/* line 632, ../sass/style.scss */
.main .nobor {
  border: none;
  overflow: hidden;
}

/* line 637, ../sass/style.scss */
.mt10 {
  margin-top: 10px;
}

/* line 640, ../sass/style.scss */
.hide {
  display: none;
}

/* line 643, ../sass/style.scss */
.show {
  display: block;
}

/* line 647, ../sass/style.scss */
.first, .from-box1, .from-box2, .from-box3, .from-box4, .apply-fail, .live-agreement, .apply-success, .apply-fail, .document-display {
  display: none;
}

/* line 650, ../sass/style.scss */
.apply-status {
  background: #ccc;
  color: #fff;
  width: 100%;
  height: 35px;
  line-height: 35px;
  z-index: 50;
  text-align: center;
}

/* line 661, ../sass/style.scss */
.apply-status-fail {
  background: #ff6666;
  color: #fff;
  width: 100%;
  overflow: hidden;
  line-height: 22px;
  z-index: 50;
  text-align: left;
  display: none;
  font-size: 14px;
  color: #fff;
}
/* line 671, ../sass/style.scss */
.apply-status-fail .fial-head {
  text-align: center;
  color: #fffca5;
  height: 35px;
  line-height: 35px;
  position: relative;
  left: 0;
  top: 0;
}
/* line 677, ../sass/style.scss */
.apply-status-fail .fial-head .fail-icon {
  background-image: url('/restwww/html5/app_within/liveIdentify/img/pic1x-s8b24b2f04c.png');
  background-position: 0 -54px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  position: relative;
  left: -8px;
  top: 4px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  /* line 677, ../sass/style.scss */
  .apply-status-fail .fial-head .fail-icon {
    background-image: url('/restwww/html5/app_within/liveIdentify/img/pic2x-s7f893142be.png');
    background-size: 160px 198px;
    background-position: 0 -54px;
    height: 16px;
    width: 16px;
  }
}
/* line 681, ../sass/style.scss */
.apply-status-fail .fial-head .see-fail {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 12px;
  color: #fff;
  border: solid 1px #fff;
  padding: 0px 10px;
  line-height: 20px;
  border-radius: 5px;
}
/* line 693, ../sass/style.scss */
.apply-status-fail .fial-list {
  border-top: solid 1px #ff7870;
  width: 98%;
  margin: auto;
  padding: 10px;
}
/* line 698, ../sass/style.scss */
.apply-status-fail .fial-list p {
  clear: both;
  line-height: 20px;
}

/* line 705, ../sass/style.scss */
.tipsWarp {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 8px;
  width: 40%;
  font-size: 14px;
  color: #fff;
  position: absolute;
  left: 30%;
  top: 40%;
  z-index: 30;
  text-align: center;
}

/* line 715, ../sass/style.scss */
.skyBox {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
}

/* line 722, ../sass/style.scss */
.input-gray {
  font-size: 12px;
  color: #ccc;
}

/* line 725, ../sass/style.scss */
.bottom-line {
  border-top: 1px #ccc solid;
  width: 200%;
  transform: scale(0.5, 0.5) translate(-50%, 0);
  -webkit-transform: scale(0.5, 0.5) translate(-50%, 0);
  -moz-transform: scale(0.5, 0.5) translate(-50%, 0);
  -o-transform: scale(0.5, 0.5) translate(-50%, 0);
}

/* line 734, ../sass/style.scss */
.loading {
  background: rgba(0, 0, 0, 0.6);
  width: 100px;
  height: 100px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  border-radius: 8px;
  padding: 10px;
  display: none;
}
/* line 744, ../sass/style.scss */
.loading img {
  width: 100%;
  height: 100%;
  animation: mylefthand 0.8s infinite linear;
  -webkit-animation: mylefthand 0.8s infinite linear;
  -moz-animation: mylefthand 0.8s infinite linear;
  -o-animation: mylefthand 0.8s infinite linear;
}

@keyframes mylefthand {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes mylefthand /* Safari 和 Chrome */ {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes mylefthand /* Firefox */ {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(90deg);
  }
  50% {
    -moz-transform: rotate(180deg);
  }
  75% {
    -moz-transform: rotate(270deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes mylefthand /* Opera */ {
  0% {
    -o-transform: rotate(0deg);
  }
  25% {
    -o-transform: rotate(90deg);
  }
  50% {
    -o-transform: rotate(180deg);
  }
  75% {
    -o-transform: rotate(270deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
