/* line 6, ../../sass/base/_base.scss */
* {
  -webkit-tap-highlight-color: transparent;
}

/* line 11, ../../sass/base/_base.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

/* line 19, ../../sass/base/_base.scss */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-size: 12px;
  background: #f2f2f2;
  color: #333;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}

/* line 29, ../../sass/base/_base.scss */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 35, ../../sass/base/_base.scss */
h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* line 41, ../../sass/base/_base.scss */
img {
  border: 0;
  max-width: 100%;
}

/* line 46, ../../sass/base/_base.scss */
table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 52, ../../sass/base/_base.scss */
a {
  color: blue;
  text-decoration: none;
  output: none;
  color: #333;
}

/* line 59, ../../sass/base/_base.scss */
input, button, textarea {
  -webkit-tap-highlight-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 68, ../../sass/base/_base.scss */
.fr {
  float: right;
}

/* line 71, ../../sass/base/_base.scss */
.fl {
  float: left;
}

/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/* line 33, ../../sass/base/_other.scss */
.playBox video {
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  display: block;
  vertical-align: bottom;
  background-color: #000000;
}
/* line 42, ../../sass/base/_other.scss */
.playBox img {
  min-height: 200px;
}

/* line 48, ../../sass/base/_other.scss */
.promptBox {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  position: fixed;
  top: 45%;
  font-size: 1.4em;
  line-height: 24px;
  max-width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/* line 67, ../../sass/base/_other.scss */
.downBar {
  width: 100%;
  background: #91c41f;
  position: fixed;
  bottom: 0;
  color: #fff;
  text-align: center;
  padding: 12px 0;
  z-index: 1000;
  display: none;
}
/* line 77, ../../sass/base/_other.scss */
.downBar .downClose {
  float: left;
  display: inline-block;
  position: relative;
  left: 15px;
  top: 5px;
  font-size: 18px;
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -22px -24px;
  height: 11px;
  width: 11px;
}
/* line 86, ../../sass/base/_other.scss */
.downBar a {
  font-size: 14px;
  color: #fff;
}

/* line 91, ../../sass/base/_other.scss */
.downBar2 {
  color: #333;
  background: #fff;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  z-index: 1000;
  border-top: solid 1px #ccc;
}
/* line 100, ../../sass/base/_other.scss */
.downBar2 a {
  border: solid 1px #91c41f;
  padding: 5px 18px;
  border-radius: 5px;
}

/* line 106, ../../sass/base/_other.scss */
.openApp a {
  font-size: 14px;
  color: #fff;
}

/* line 112, ../../sass/base/_other.scss */
.maskBox {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  position: fixed;
  top: 0;
  z-index: 110;
  float: left;
}

/* line 125, ../../sass/base/_other.scss */
.shareWarp {
  position: relative;
}

/* line 128, ../../sass/base/_other.scss */
.shareWxMask {
  background: url(../../img/mask.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-height: 150px;
  position: fixed;
  top: 0;
  z-index: 120;
}

/* line 137, ../../sass/base/_other.scss */
.shareBox1 {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 1000;
  overflow: hidden;
  transition: all 1s ease;
}
/* line 146, ../../sass/base/_other.scss */
.shareBox1 h4 {
  font-size: 14px;
  color: #999;
  text-align: center;
  margin: 20px 10px 10px 10px;
}
/* line 152, ../../sass/base/_other.scss */
.shareBox1 .shareList {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
/* line 156, ../../sass/base/_other.scss */
.shareBox1 .shareList ul {
  overflow-y: auto;
  margin: 0 auto;
}
/* line 160, ../../sass/base/_other.scss */
.shareBox1 .shareList ul li {
  float: left;
  width: 50px;
  margin: 10px 13px;
  text-align: center;
  width: 65px;
}
/* line 166, ../../sass/base/_other.scss */
.shareBox1 .shareList ul li a {
  display: inline-block;
  margin: auto;
  margin-bottom: 8px;
}
/* line 167, ../../sass/base/_other.scss */
.shareBox1 .shareList ul li p {
  color: #333;
}
/* line 168, ../../sass/base/_other.scss */
.shareBox1 .shareList ul li .qq {
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -253px -452px;
  height: 50px;
  width: 50px;
  display: block;
}
/* line 172, ../../sass/base/_other.scss */
.shareBox1 .shareList ul li .QZone {
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -203px -452px;
  height: 50px;
  width: 50px;
  display: block;
}
/* line 176, ../../sass/base/_other.scss */
.shareBox1 .shareList ul li .wx {
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -103px -452px;
  height: 50px;
  width: 50px;
  display: block;
}
/* line 180, ../../sass/base/_other.scss */
.shareBox1 .shareList ul li .wxq {
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -153px -452px;
  height: 50px;
  width: 50px;
  display: block;
}
/* line 184, ../../sass/base/_other.scss */
.shareBox1 .shareList ul li .sinawb {
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -90px -502px;
  height: 50px;
  width: 50px;
  display: block;
}
/* line 191, ../../sass/base/_other.scss */
.shareBox1 .sharewpBox {
  width: 100%;
  background: #fff;
  position: relative;
  top: -8px;
}
/* line 196, ../../sass/base/_other.scss */
.shareBox1 .sharewpBox .sharewp {
  border-radius: 5px;
  background: #91c41f;
  width: 95%;
  padding: 10px 0;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
/* line 209, ../../sass/base/_other.scss */
.shareBox1 .cancel {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

/* line 217, ../../sass/base/_other.scss */
#videoTag {
  display: none;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

/* line 223, ../../sass/base/_other.scss */
.playBox {
  position: relative;
}
/* line 225, ../../sass/base/_other.scss */
.playBox .videoPic {
  vertical-align: bottom;
  width: 100%;
  min-height: 320px;
}
/* line 230, ../../sass/base/_other.scss */
.playBox .canPlay {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -140px -502px;
  height: 60px;
  width: 60px;
  z-index: 100;
}

/* line 248, ../../sass/base/_other.scss */
.loadMore {
  text-align: center;
  border-top: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  display: none;
  color: #999999;
}

/* line 258, ../../sass/base/_other.scss */
.scrollTop {
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -48px -146px;
  height: 30px;
  width: 30px;
  position: fixed;
  bottom: 70px;
  right: 10px;
  z-index: 110;
}

/* line 266, ../../sass/base/_other.scss */
span[id^="cnzz"] {
  display: none;
}

/* line 271, ../../sass/base/_other.scss */
.main, .head, .personalCenter, .personalBg, .activeUseList, .recommendContent {
  max-width: 640px;
  min-width: 318px;
  margin: auto;
}

/* line 276, ../../sass/base/_other.scss */
.loadMore {
  margin: 0 auto;
  margin-top: 10px;
}

/* line 280, ../../sass/base/_other.scss */
.rankloadMore {
  width: 100%;
}

/* line 283, ../../sass/base/_other.scss */
.downBar {
  max-width: 640px;
  min-width: 318px;
  margin: auto;
}

/* line 291, ../../sass/base/_other.scss */
.sharePic {
  position: absolute;
  opacity: 0;
}

/* line 296, ../../sass/base/_other.scss */
.skyBox {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 99999;
  display: none;
}

/* line 305, ../../sass/base/_other.scss */
.skyBox-anz {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 999999;
  display: none;
}

/* line 9, ../../sass/Connect.scss */
.head {
  padding: 10px 0;
  border-bottom: solid 1px #d9d9d9;
  overflow: hidden;
  background-color: #f7f7f7;
  width: 100%;
  z-index: 10;
}

/* line 13, ../../sass/Connect.scss */
.logo {
  background: url(../../img/icons-2x/logo.png) no-repeat;
  width: 66px;
  height: 30px;
  background-size: 100% 100%;
  margin-top: 2px;
  margin-left: 10px;
  float: left;
  dispaly: inline-block;
}

/* line 19, ../../sass/Connect.scss */
.lagarNav {
  font-size: 0.7em;
}
/* line 21, ../../sass/Connect.scss */
.lagarNav li {
  float: left;
  dispaly: inline-block;
}

/* line 25, ../../sass/Connect.scss */
.lagarNav {
  float: right;
  dispaly: inline-block;
}
/* line 27, ../../sass/Connect.scss */
.lagarNav ul li {
  text-align: center;
  line-height: 10px;
  margin: 0 5px;
  width: 35px;
  color: #333;
}
/* line 33, ../../sass/Connect.scss */
.lagarNav ul li img {
  width: 70%;
  height: 22px;
}

/* line 36, ../../sass/Connect.scss */
.bgBox2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 1;
  width: 100%;
  height: 100%;
  display: none;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  line-height: 150px;
  z-index: 9999999;
  overflow: hidden;
}

/* line 13, ../../sass/index/attention.scss */
.lineBg {
  background: url(../../img/personalBg/lineBg.jpg);
  width: 100%;
  height: 41px;
  background-size: cover;
}

@media all and (device-width: 320px) {
  /* line 20, ../../sass/index/attention.scss */
  .lineBg {
    background: url(../../img/personalBg/lineBg.jpg);
    width: 100%;
    height: 35px;
    background-size: cover;
  }
}
@media all and (device-width: 375px) {
  /* line 28, ../../sass/index/attention.scss */
  .lineBg {
    background: url(../../img/personalBg/lineBg.jpg);
    width: 100%;
    height: 41px;
    background-size: cover;
  }
}
@media all and (device-width: 360px) {
  /* line 36, ../../sass/index/attention.scss */
  .lineBg {
    background: url(../../img/personalBg/lineBg.jpg);
    width: 100%;
    height: 39px;
    background-size: cover;
  }
}
@media all and (device-width: 384px) {
  /* line 44, ../../sass/index/attention.scss */
  .lineBg {
    background: url(../../img/personalBg/lineBg.jpg);
    width: 100%;
    height: 42px;
    background-size: cover;
  }
}
@media all and (device-width: 414px) {
  /* line 52, ../../sass/index/attention.scss */
  .lineBg {
    background: url(../../img/personalBg/lineBg.jpg);
    width: 100%;
    height: 45px;
    background-size: cover;
  }
}
@media all and (device-width: 412px) {
  /* line 60, ../../sass/index/attention.scss */
  .lineBg {
    background: url(../../img/personalBg/lineBg.jpg);
    width: 100%;
    height: 45px;
    background-size: cover;
  }
}
@media all and (device-width: 541px) {
  /* line 68, ../../sass/index/attention.scss */
  .lineBg {
    background: url(../../img/personalBg/lineBg.jpg);
    width: 100%;
    height: 45px;
    background-size: cover;
  }
}
/* line 75, ../../sass/index/attention.scss */
.lineBg {
  border-bottom: 1px solid #cccccc;
}
/* line 77, ../../sass/index/attention.scss */
.lineBg p {
  padding-top: 5px;
}
/* line 79, ../../sass/index/attention.scss */
.lineBg p a {
  margin-left: 28px;
}
/* line 81, ../../sass/index/attention.scss */
.lineBg p a img {
  width: 24px;
  margin-top: 0;
}
/* line 86, ../../sass/index/attention.scss */
.lineBg p img {
  width: 15px;
  float: left;
  margin-top: 5px;
  padding-left: 5px;
}
/* line 92, ../../sass/index/attention.scss */
.lineBg p span {
  float: left;
  display: block;
  margin-top: 5px;
  color: #999999;
  padding-left: 5px;
  font-size: 12px;
  width: 220px;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 107, ../../sass/index/attention.scss */
.main {
  width: 100%;
  background: #f2f2f2;
}

/* line 111, ../../sass/index/attention.scss */
video {
  position: relative;
  z-index: 1;
}

/* line 112, ../../sass/index/attention.scss */
.nav {
  width: 100%;
  overflow: hidden;
}
/* line 116, ../../sass/index/attention.scss */
.nav p {
  padding: 10px;
  color: #999;
  font-size: 12px;
}

/* line 122, ../../sass/index/attention.scss */
.addV {
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -69px -24px;
  height: 12px;
  width: 12px;
  display: inline-block;
  position: absolute;
  left: 21px;
  top: 21px;
}

/* line 128, ../../sass/index/attention.scss */
.funPerson {
  background: #fff;
}
/* line 130, ../../sass/index/attention.scss */
.funPerson dl {
  overflow: hidden;
  margin: 0;
  padding: 10px;
}
/* line 134, ../../sass/index/attention.scss */
.funPerson dl dt {
  position: relative;
  float: left;
  dispaly: inline-block;
}
/* line 137, ../../sass/index/attention.scss */
.funPerson dl dt img {
  margin: 3px 0 0 0;
  height: 30px;
  width: 30px;
  border-radius: 6px;
}
/* line 143, ../../sass/index/attention.scss */
.funPerson dl dt img.addV {
  width: 12px;
  height: 12px;
  border-radius: 0;
}
/* line 150, ../../sass/index/attention.scss */
.funPerson dl dd:first-of-type {
  float: left;
  dispaly: inline-block;
  margin-left: 10px;
  line-height: 16px;
}
/* line 154, ../../sass/index/attention.scss */
.funPerson dl dd:first-of-type p:first-of-type {
  font-weight: bold;
  font-size: 13px;
  color: #333333;
  width: 140px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 161, ../../sass/index/attention.scss */
.funPerson dl dd:first-of-type p:nth-of-type(2) {
  font-weight: bold;
  font-size: 12px;
  color: #999999;
  width: 140px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 169, ../../sass/index/attention.scss */
.funPerson dl dd:nth-of-type(2) {
  float: right;
  padding-top: 5px;
}
/* line 172, ../../sass/index/attention.scss */
.funPerson dl dd:nth-of-type(2) a {
  display: block;
}
/* line 175, ../../sass/index/attention.scss */
.funPerson dl dd:nth-of-type(2) a em.attenBtn {
  display: inline-block;
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -240px -120px;
  height: 26px;
  width: 72px;
  margin-top: 5px;
}
/* line 180, ../../sass/index/attention.scss */
.funPerson dl dd:nth-of-type(2) a em.attenBtnActive {
  display: inline-block;
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -168px -120px;
  height: 26px;
  width: 72px;
  margin-top: 5px;
}
/* line 189, ../../sass/index/attention.scss */
.funPerson .seeMore {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
/* line 195, ../../sass/index/attention.scss */
.funPerson .seeMore a {
  color: #999999;
}

/* line 200, ../../sass/index/attention.scss */
.videoList1 {
  padding-bottom: 38px;
  margin-top: 10px;
}
/* line 204, ../../sass/index/attention.scss */
.videoList1 ul li {
  width: 100%;
  position: relative;
  background: #fff;
  margin: 0 0 10px 0;
}
/* line 209, ../../sass/index/attention.scss */
.videoList1 ul li dl {
  overflow: hidden;
  margin: 0;
  padding: 10px;
}
/* line 214, ../../sass/index/attention.scss */
.videoList1 ul li dl dt {
  float: left;
  dispaly: inline-block;
  position: relative;
}
/* line 217, ../../sass/index/attention.scss */
.videoList1 ul li dl dt img {
  margin: 3px 0 0 0;
  height: 30px;
  width: 30px;
  border-radius: 6px;
}
/* line 223, ../../sass/index/attention.scss */
.videoList1 ul li dl dt img.user_icon_blue {
  position: absolute;
  bottom: 2px;
  left: 20px;
  width: 14px;
  height: 14px;
  border-radius: 0;
}
/* line 231, ../../sass/index/attention.scss */
.videoList1 ul li dl dt img.user_icon_yellow {
  position: absolute;
  bottom: 2px;
  left: 20px;
  width: 14px;
  height: 14px;
  border-radius: 0;
}
/* line 239, ../../sass/index/attention.scss */
.videoList1 ul li dl dt img.user_icon_green {
  position: absolute;
  bottom: 2px;
  left: 20px;
  width: 14px;
  height: 14px;
  border-radius: 0;
}
/* line 248, ../../sass/index/attention.scss */
.videoList1 ul li dl dd:first-of-type {
  float: left;
  dispaly: inline-block;
  margin-left: 10px;
  line-height: 16px;
}
/* line 252, ../../sass/index/attention.scss */
.videoList1 ul li dl dd:first-of-type p:first-of-type {
  font-weight: bold;
  font-size: 13px;
  color: #333333;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
}
/* line 259, ../../sass/index/attention.scss */
.videoList1 ul li dl dd:first-of-type p:nth-of-type(2) {
  font-weight: bold;
  font-size: 12px;
  color: #999999;
}
/* line 265, ../../sass/index/attention.scss */
.videoList1 ul li dl dd:nth-of-type(2) {
  float: right;
  padding-top: 13px;
}
/* line 268, ../../sass/index/attention.scss */
.videoList1 ul li dl dd:nth-of-type(2) .playIcon {
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -117px -24px;
  height: 12px;
  width: 12px;
  display: inline-block;
}
/* line 272, ../../sass/index/attention.scss */
.videoList1 ul li dl dd:nth-of-type(2) .playData {
  font-size: 14px;
  color: #333;
  padding-left: 5px;
  line-height: 15px;
  color: #999999;
}
/* line 282, ../../sass/index/attention.scss */
.videoList1 ul li .playBox video {
  background: url(../../../img/test.jpg) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  display: block;
  vertical-align: bottom;
}
/* line 292, ../../sass/index/attention.scss */
.videoList1 ul li .videoDiscription {
  height: 30px;
  line-height: 30px;
  display: block;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 15px;
}
/* line 299, ../../sass/index/attention.scss */
.videoList1 ul li .shareBox {
  display: box;
  display: -webkit-box;
  display: -moz-box;
}
/* line 303, ../../sass/index/attention.scss */
.videoList1 ul li .shareBox div {
  padding: 0;
}
/* line 305, ../../sass/index/attention.scss */
.videoList1 ul li .shareBox div em {
  display: inline-block;
  margin: auto;
  position: relative;
  top: 3px;
}
/* line 311, ../../sass/index/attention.scss */
.videoList1 ul li .shareBox div span {
  line-height: 10px;
  color: #999999;
  display: inline-block;
  height: 20px;
  width: 40px;
  position: relative;
  top: -5px;
  text-align: left;
}
/* line 320, ../../sass/index/attention.scss */
.videoList1 ul li .shareBox .zan {
  text-align: center;
  box-flex: 1;
  -webkit-box-flex: 1;
}
/* line 324, ../../sass/index/attention.scss */
.videoList1 ul li .shareBox .zan em.off {
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -72px -90px;
  height: 24px;
  width: 24px;
}
/* line 327, ../../sass/index/attention.scss */
.videoList1 ul li .shareBox .zan em.on {
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -240px -42px;
  height: 24px;
  width: 24px;
}
/* line 331, ../../sass/index/attention.scss */
.videoList1 ul li .shareBox .commit {
  text-align: center;
  box-flex: 1;
  -webkit-box-flex: 1;
}
/* line 335, ../../sass/index/attention.scss */
.videoList1 ul li .shareBox .commit em {
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -120px -90px;
  height: 24px;
  width: 24px;
}
/* line 341, ../../sass/index/attention.scss */
.videoList1 ul li .shareBox .Forward {
  text-align: center;
  box-flex: 1;
  -webkit-box-flex: 1;
}
/* line 345, ../../sass/index/attention.scss */
.videoList1 ul li .shareBox .Forward em {
  background-image: url('/restwww/img/icons-2x-s6a766a6e42.png');
  background-size: 320px 642px;
  background-position: -24px -90px;
  height: 24px;
  width: 24px;
}

/* line 352, ../../sass/index/attention.scss */
.downloadApp {
  width: 100%;
  clear: both;
}
/* line 355, ../../sass/index/attention.scss */
.downloadApp a {
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  background-color: #91c41f;
  position: fixed;
  bottom: 0;
  font-size: 16px;
  z-index: 1000;
}
