@import '_base';
body{
	font-size:12px;
	color:#333;
	background:#fff;
}

.main{
	max-width:600px;
	min-width:320px;
  	height:700px;
	margin:auto;
}
.one{
  	text-align:center;
  display: none;
  	.logo{
	  img{
		width:150px;
		margin:10px 0 0 0;
	  }
	}
	.id-txt{
		border:solid 1px #ccc;
		border-radius:15px;
		padding:8px;
	  	width:90%;
	  	font-size: 14px;
	}
  	.get-tips{
	  margin:10px 0;
	  font-size: 14px;
	  color:#f8698f;
	}
	.right-btn{
		border-radius: 15px;
		background:#f8698f;
		padding:10px 8px;
	  	font-size: 18px;
	  	color:#fff;
		margin:15px auto;
	  	width:90%;
	}
  	.big-warp{
	  background:#fff;
	  display: none;
	  padding-bottom:15px;
	  hr{
		height: 1px;
		border: 0;
		background: #ccc;
		margin:8px 0 5px 0;
	  }
	}
  	.tips-warp{
	  text-align: center;
	  width: 90%;
	  margin: auto;
	  background: #f2f2f2;
	  padding: 20px 0;
	  margin-bottom:10px;
	  h4{
		width:90%;
		font-size: 14px;
		color:#666;
		text-align: left;
		margin:10px auto;
	  }
	  img{
		width:90%;
		margin:auto;
		display:block;
	  }
	}
  	.iKnow-btn{
	  background:#f8698f;
	  display: block;
	  margin:15px auto 30px auto;
	  width:90%;
	  padding:10px 8px;
	  font-size: 18px;
	  color:#fff;
	  border-radius: 15px;
	}
}
.two{
	display:none;
  	.list-head{
	  margin:10px 0 0 0;
	  overflow: hidden;
	}
  	.user-msg{
	  float: left;
	  width:75%;
	  .user-pho{
		width:40px;
		float: left;
		border-radius: 50%;
	  }
	  .user-name{
		float: left;
		line-height:40px;
		margin-left:10px;
		font-size:14px;
		color:#666;
	  }
	}
  	.switch-user{
	  float: right;
	  display: block;
	  border:solid 1px #f8698f;
	  border-radius: 12px;
	  padding:6px 10px;
	  margin-top: 6px;
	  color:#f8698f;
	}
  	.list-gold{
	  background: #fff;
	  padding:10px 0;
		ul>li{
		  border:solid 1px #ccc;
		  border-radius:20px;
		  width:84%;
		  margin:0 auto 10px auto;
		  padding:6px 16px;
		  overflow: hidden;
		  span{
			display: inline-block;
			line-height: 30px;
			font-size:14px;
		  }
		  .list-left{
			color:#000;
		  }
		  .list-middle{
			color:#999;
			margin-left:10px;
		  }
		  .list-right{
			color:#000;
			float: right;
		  }
		  .gold-icon{
			width:30px;
			display: inline-block;
			float: left;
			margin-right:5px;
		  }
		}
	  	.active{
		  border:solid 1px #f8698f;
		  .list-middle{
			color:#999;
			margin-left:10px;
		  }
		}
	}
  	.buy-btn{
	  background:#fff;
	  color:#f8698f;
	  border:solid 1px #f8698f;
	  display: block;
	  margin:15px auto;
	  width:50%;
	  padding:10px 8px;
	  font-size: 18px;
	  color:#f8698f;
	  border-radius: 15px;
	  text-align: center;
	}
}
.buy-ok{
  display:block;
  position: absolute;
  font-size:14px;
  line-height: 26px;
  left:14%;
  top:30%;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  width:66%;
  padding:15px;
  z-index:35;
  display: none;
  .close-btn{
	position: absolute;
	right:6%;
	top:8%;
	background: url(../../dist/img/close.png) no-repeat;
	background-size: 100% 100%;
	width:15px;
	height: 15px;
	display: block;
  }
  .ok-pic{
	width:80px;
	margin-top:30px;
  }
  h4{
	font-size:18px;
	text-align: center;
	margin:10px 15px;
	color:#f8698f;
  }
  .gold-num{
	font-size:16px;
  }
  .ok-msg{
	color:#999;
	.user-name2{
	  margin-right:3px;
	}
  }
  .gold-num{
	color:#000;
  }
}
.list-head{
	border-bottom:solid 1px #ccc;
	padding:10px 20px;
  	background:#f4f4f4;
}
.skyBox{
  background: rgba(0,0,0,0.5);
  position: fixed;
  left:0;
  top:0;
  z-index: 30;
  width:100%;
  height:100%;
  display: none;
}

.load-box{
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  display: none;
  .loading{
	width:50%;
	height: 30%;
	position: absolute;
	top:30%;
	left:25%;
	border-right: 20px;
	background: rgba(0,0,0,0.6);
	img{
	  width:60%;
	  position: absolute;
	  left:20%;
	  top:20%;
	}
  }
}


.tipsWarp{
  background: rgba(0,0,0,0.8);
  padding:10px;
  border-radius: 8px;
  width:40%;
  font-size:14px;
  color:#fff;
  position: absolute;
  left:30%;
  top:40%;
  z-index: 30;
  text-align: center;

}
.pay-tips{
  position: absolute;
  bottom:10px;
  color:#999;
  text-align: center;
  padding:10px 0;
  width:100%;
}