*{margin:0; padding:0; list-style: none;}
.main{
	width:%;
}
.fl{
	float: left;
}
.fr{
	float: right;
}

.top{
	width:100%;
	vertical-align: bottom;
}
.nav{
	width:100%;
}
.nav span{
	display: inline;
}
.nav img{
	width:50%;
	display: inline;
}

.ios{
	display: none;
}


.gongyue_box{
	display: none;
}
.gongyue_box img{
	width:100%;
	vertical-align: bottom;
}
.system_type img{ width:100%; vertical-align:bottom;}
