* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; }
body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background: #f2f2f2;
  color: #333;
  word-wrap: break-word;
  -webkit-text-size-adjust: none; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0;
  padding: 0; }

img {
  border: 0; }


a {
  text-decoration: none;
  output: none;
  color: #333; }

input, button, textarea {
  -webkit-tap-highlight-color: transparent;
  border: none;
  outline: none;
  /*-webkit-appearance: none;*/
  /*-moz-appearance: none;*/
  /*appearance: none; */
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #0d3e8e;
}
.fr {
  float: right; }

.fl {
  float: left; }
.main .show{
  display: block;
  
}
.main .hide{
  display: none;
}

.main {
  max-width: 600px;
  min-width: 320px;
  /*height: 700px;*/
  background: #1b0847;
  margin: auto; }

.bj{
  width:100%;
}

.form{
  position: absolute;
  top:75%;
  left:5%;
  padding-bottom: 10px;
  width:90%;

}
.form-bj{
  width:100%;
}
.form-box{
  margin-top: 70px;
  position: absolute;
  top:0;
  left:5%;
  width:90%;
}
  .form-item{
    width:95%;
    margin:auto;
    font-size: 14px;
    text-align: center;
  }
  .txt1,.txt2,.txt3,.txt4{
    border-radius: 5px;
    margin:4px 0;
    padding:6px 5px;
    color: #0d3e8e;
    min-height:18px;
    line-height: 15px;
  }
  .txt1{
    background: #fff;
    opacity: 0;
    position: absolute;
    top:-8px;
    left:0;
    width:100%;

  }
  .txt2{
    width:55%;
  }
  .txt3{
    width:60%;
  }
  .txt4{
    width:90%;
  }
  .hideSele{
    width:28%;
    position: relative;
  }
  .showSele{
    width:28%;
    padding:6px 1px;
    display: inline-block;
    background: #fff;
    border-radius: 5px;
    font-size:12px;
    color: #0d3e8e;
  }
  .arrow{
    width: 8px;
    height: 8px;
    position: absolute;
    display: block;
    top: 1px;
    right: 9px;
    border-left: solid 1px #0d3e8e;
    border-bottom: solid 1px #0d3e8e;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  
  .yz-btn{
    background: #fff;
    border-radius: 5px;
    height: 15px;
    line-height: 15px;
    padding:7px 12px;
    color: #0d3e8e;
    display: inline-block;
    font-size: 12px;
    width:26%;
  }
  .sub-btn{
    position: absolute;
    bottom:0;
    left:30%;
    background: url(../img/sub-btn.png) no-repeat;
    background-size: 100% 100%;
    width:40%;
  }
    .sub-btn img{
      width:100%;
    }

/*iphone5适配*/
@media screen and (max-width:360px) {
  .form-item{
    width:92%;
  }
  .txt1,.txt2,.txt3,.txt4{
    padding:4px 5px;
  }
  .showSele{
    width:28%;
    padding:4px 1px;
    display: inline-block;
    background: #fff;
    border-radius: 5px;
    font-size:12px;
    color: #0d3e8e;
  }
  .yz-btn{
    background: #fff;
    border-radius: 5px;
    height: 15px;
    line-height: 15px;
    padding:5px 12px;
    color: #0d3e8e;
    display: inline-block;
    font-size: 12px;
    width:26%;
  }
}



.tipsWarp {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 8px;
  width: 40%;
  font-size: 14px;
  color: #fff;
  position: fixed;
  left: 30%;
  top: 40%;
  z-index: 30;
  text-align: center; }