<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd"
	default-lazy-init="true">
	<!-- 凭证匹配器 -->
	<bean id="credentialsMatcher" class="com.busap.vcs.oauth.credentials.RetryLimitHashedCredentialsMatcher">
		<constructor-arg ref="cacheManagerWrapper" />
		<!-- md5 -->
		<property name="hashAlgorithmName" value="${password.algorithmName}" />
		<!-- 2 -->
		<property name="hashIterations" value="${password.hashIterations}" />
		<!-- 5 -->
		<property name="retryLimit" value="${password.retryLimit}" />

		<property name="storedCredentialsHexEncoded" value="true" />
	</bean>

	<!-- Realm实现 -->
	<bean id="userRealm" class="com.busap.vcs.oauth.realm.RUserRealm">
		<!-- <property name="credentialsMatcher" ref="credentialsMatcher"/> -->
		<property name="cachingEnabled" value="false" />
	</bean>
	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="userRealm" />
	</bean>

	<!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager" />
		<property name="arguments" ref="securityManager" />
	</bean>

	<bean id="bvsAuthenticationFilter" class="com.busap.vcs.oauth.filter.AuthcAdviceFilter"></bean>
	<bean id="logoutFilter" class="com.busap.vcs.oauth.filter.LogoutFilter"></bean>
	<bean id="h5Filter" class="com.busap.vcs.oauth.filter.AuthcH5AdviceFilter"></bean>

	<!-- Shiro的Web过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/page/user/login" />
		<property name="filters">
			<util:map>
				<entry key="bvsAuthc" value-ref="bvsAuthenticationFilter" />
				<entry key="logout" value-ref="logoutFilter" />
				<entry key="h5Filter" value-ref="h5Filter" />
			</util:map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/ = anon
				/logout = logout
				/authorize=anon
				/accessToken=anon
				/thirdPart/regist=anon
				/video/findByActivityId=anon
				/video/findNewVideos=anon
				/video/findHotVideos=anon
				/video/findRelatedVideos=anon
				/video/findOne=anon
				/video/findKeywordVideo=anon
				/video/findKeywordVideoV2=anon
				/video/findOtherVideos=anon
				/video/findVideosByPublishTime=anon
				/video/findActVideos=anon
				/video/test=anon
				/video/findHotIndiceVideos=anon
				/activity/getActivityBanner=anon
				/evaluation/findVideoEvaluationList=anon
				/evaluation/findEvaluationList=anon
				/praise/findPraiseList=anon
				/video/findKeywordVideos=anon
				/version/findVersion=anon
				/user/getCode=anon
				/user/reg=anon
				/user/findUserByKeyWord=anon
				/template/findAll=anon
				/activity/findAll=anon
				/activity/findAllByGroupType=anon
				/activity/getActivitysByName=anon
				/activity/getPrizeResult=anon
				/activity/getPrizeDetail=anon
				/activity/getActivitiesList=anon
				/video/findByActivityId=anon
				/video/praiseUserList=anon
				/video/findShowVideo=anon
				/attention/getOtherFansList=anon
				/attention/getOtherAttentionList=anon
				/attention/getRecommendUsers=anon
				/attention/setMajiaToRedis=anon
				/attention/getOtherAttentionVideoList=anon
				/duiba/deductIntegral=anon
				/duiba/exchangeResult=anon
				/inviteFriend/getInviteInfo=anon
				/integral/getIntegralRules=anon
				/banner/findAllBanner=anon
				/banner/getRecommendBanner=anon
				/recommend/getRecommendUser=anon
				/cover/getCover=anon
				/user/resetPass=anon
				/user/putUsersToRedis=anon
				/user/putVUsersToRedis=anon
				/user/putAttentionIdsToRedis=anon
				/user/findUsersByNickNameSolr=anon
				/show/getShowList=anon
				/tag/tagList=anon
				/tag/hottag=anon
                /tag/getmatchtag=anon
                /tag/discoverytag=anon
				/up.jsp=anon
				/thirdplay.jsp=anon
				/download/**=anon
				/video/thirdVideo=anon
				/video/inviteFriendVideo=anon
				/video/loadconfigurl=anon
				/video/incCount=anon
				/video/findVideosByDescriptionSolr=anon
				/video/findHotVideoList=anon
				/video/findHotVideoV3=anon
				/rank/findDayHotVideosRank=anon
				/rank/findDayUserPopularityRank=anon
				/deviceInfo/addDeviceInfo=anon
				/deviceInfo/getDeviceConfig=anon
				/rank/findVideoRankUpdate=anon
				/rank/findUserPopularityRankUpdate=anon

				/rank/findHotVideoRankingListUpdateTime=anon
				/rank/findHotVideoRankingList=anon
				/rank/findUserPopularityRankingListUpdateTime=anon
				/rank/findUserPopularityRankingList=anon
				/rank/rankingListRules=anon
				/singVote/getSingRank=anon
				/singVote/getRoomSingRank=anon
				/singVote/createRank=anon

				/h5/**=anon
				/video/thirdH5Video=anon
				/praise/isPraised=anon
				/evaluation/findEvaluationListpage=anon
				/html5/**=anon
				
				/page/activity/home = anon
				/page/activity/activityIndex = anon
				/page/activity/activityList = anon
				/page/activity/activityTag = anon
				/page/thirdPart/wechatCallback = anon
				/page/thirdPart/qqCallback = anon
				/page/thirdPart/sinaCallback = anon
				/page/homePage = anon
				/page/rank = anon
				/page/user/userDetail = anon
				/page/user/login = anon
				/page/user/register = anon
				/page/user/forgetPwd = anon
				/page/user/pcRechargeIndex = anon
				/page/video/videoDetail = anon
				/page/video/tagVideos = anon
				/page/praise/praiseList = anon
				/page/live/shareLive = anon
				/page/live/shareLiveNotice = anon
				/page/prize/getPrize = anon
				/page/prize/festival = anon
				/page/** = h5Filter
				
				/live/getRoomList = anon
				/live/destroyRoom = anon
				/live/getRoomUser = anon
				/live/getSingleUser = anon
				/live/isLive = anon
				/live/showLive = anon
				/live/getGiftList = anon
				/live/getDiamondList = anon
				/live/getPayChannel = anon
				/live/getLiveNoticeList = anon
				/live/getLiveNoticeDetailByUserId= anon
				/live/probeAdd= anon
				/live/getTotalBeans= anon
				/live/getLiveAndRecordList= anon
				/liveActivity/findLiveActivityById = anon
				/liveActivity/getRank = anon
				
				/attention/getAttentionLiveInfoList= anon
				/attention/getLiveInfoByUserId= anon
				/video/findUserVideos= anon
				
				/customizeActivity/findCurrentCustomizeActivity = anon
				/live/savePlayback = anon
				/live/getSolrRoomList = anon
				/live/getRoomById = anon

				/liveActivity/getTipsByType = anon
				/gift/reCount = anon

				/pay/callback = anon
				/pay/create = anon
				/pay/createCharge = anon
				/pay/getUserInfo = anon
				/pay/getUser = anon
				/pay/wechatCallback = anon
				/pay/withdraw = anon
				/pay/login = anon
				/pay/extract = anon
				/pay/exchange = anon
				/pay/transfer = anon
				/pay/unbind = anon
				/pay/getTransferRecord = anon
				/pay/recordList = anon
				/pay/toExchange = anon
				/pay/pay99Bill = anon
				/pay/callback99Bill = anon
				/pay/redirectFrom99Bill = anon
				/exchange/getExchangeListByType = anon
				
				/activationRecord/promotionRecordAdd = anon
				/activationRecord/promotionRecordAddForYoumi = anon
				/activationRecord/activationRecordAddByType = anon
				/activationRecord/findARByIfa = anon
				/activationRecord/promotionRecordAddForXingzhe = anon
				/activationRecord/startupRecordAdd= anon

				/shareManage/findByType=anon
				/video/cdn = anon

				/html/**=anon
				/img/**=anon
				/js/**=anon
				/css/**=anon
				/** = bvsAuthc
				
			</value>
		</property>
	</bean>

	<!-- check user login filter -->
	<bean id="needLoginAuthenticationFilter" class="com.busap.vcs.webcomn.security.CaptchaFormAuthenticationFilter" />

	<!-- make Shiro's lifecyclebean working -->
	<bean id="shiroLifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<!-- 权限异常捕获 -->
	<bean class="com.busap.vcs.oauth.web.exception.OAuthExceptionHandler" />
</beans>