@import '../base/_base';
@import '../base/_other';
@import '../base/retina-sprites';
@import '../Connect';

@mixin fullWidth{
  width:100%;
}
@mixin txtCenter{
  text-align:center;
}
@mixin borderSmall($color){
  border:solid 1px $color;
}
@mixin bgColor($color){
  background:$color;
}
body{
  background:#f2f2f2;
}
.main{
  width:100%;
}
video{position:relative;z-index:1;}
.activeIndex{
  padding-bottom:38px;
  .activeIndexHead{
	@include bgColor(#fff);
	border-bottom:solid 1px #ccc;
	.activeTitPic{
	  text-align: center;
	  position: relative;
	  p{
		position:absolute;
		top:50%;
		width:100%;
		color: #fff;
		font-size: 2.5rem;
		text-shadow: 1px 1px 1px #333;
	  }
	}
  }
  .activeMsg{
	padding:10px;
	font-size:1.4rem;
	line-height: 24px;
	position:relative;
	.activeMsgCon{
	  display: inline-block;
	  width:90%;
	}
	.arrowDownIcon{
	  position:absolute;
	  right:15px; top:20px;
	  display: inline-block;
	}
	.activeMsgTip{
	  font-size:1.2rem;
	  color:$fontcolor-999;
	}
  }

  .activeUseList{
	margin-top: 10px;
	.videoListSort{
	  color:$fontcolor-333;
	  @include bgColor(#fff);
	  border-bottom:solid 1px #ccc;
	  padding:10px;
	  text-align: right;
	  .arrowDownIcon{
		display: inline-block;
		position:relative;
		top:3px;
		margin-left:3px;
	  }
	}
	.videoList1{
	  // padding-bottom:38px;
	  .tag-tit{
		font-size:14px;
		padding:0 10px 10px 10px;
		overflow: hidden;
		.tag-name{
		  width:70%;
		  float:left;
		}
		.join-tag{
		  @include use-sprite(participate);
		  display: none;
		}
	  }
	  ul{
		min-height: 400px;
	  }
	  ul li{ width:100%;
		position:relative;
		background:#fff;
		margin:0 0 10px 0;
		//min-height:185px;
		dl{
		  overflow:hidden;
		  margin:0;
		  padding:10px;
		  dt{
			@include floatL;
			position:relative;
			img{
			  margin:3px 0 0 0;
			  height:30px;
			  width:30px;
			  border-radius:6px;
			}
			.userV1{
			  @include use-sprite(user_icon_blue);
			  position: absolute;
			  right:-5px;
			  bottom:0;
			}
			.userV2{
			  @include use-sprite(user_icon_yellow);
			  position: absolute;
			  right:-5px;
			  bottom:1px;
			}
			.userV3 {
			  @include use-sprite(user_icon_green);
			  position: absolute;
			  right: -5px;
			  bottom: 0
			}
		  }
		  dd:first-of-type{
			@include floatL;
			margin-left:10px;
			line-height:1.6rem;
			p:first-of-type{
			  font-weight:bold;
			  font-size:14px;
			  color:$fontcolor-333;
			}
			p:nth-of-type(2){
			  font-size:12px;
			  color:$fontcolor-999;
			}
		  }
		  dd:nth-of-type(2){
			float:right;
			padding-top:13px;
			.playIcon{
			  @include use-sprite(play-24);
			  display:inline-block;
			}
			.playData{
			  font-size:14px;
			  color:#333;
			  padding-left:5px;
			  line-height:15px;
			  color:$fontcolor-999;
			}
		  }
		}
		.playBox{
		  video{
			@include fullWidth;
			height:100%;
			display:block;
			vertical-align:bottom;
			//min-height:200px;
		  }
		}
		.videoListTag{
		  font-size: 14px;
		  color:$fontcolor-333;
		  padding:5px 15px 0px 15px;
		  line-height:24px;
		}
		.shareBox{
		  display:box;
		  display:-webkit-box;
		  display:-moz-box;
		  div{
			padding:10px 0 0 0;
			em{
			  display:inline-block;margin:auto;

			  position:relative;
			  top:3px;
			}
			span{
			  line-height:10px;
			  color:$fontcolor-999;
			  display:inline-block;
			  height:20px; width:40px;
			  position:relative;
			  top:-5px; text-align:left;
			}
		  }
		  .zan{
			text-align:center;
			box-flex:1;
			-webkit-box-flex:1;
			em.off{
			  @include use-sprite(love-48);
			}
			em.on{
			  @include use-sprite(love-red-48);
			}
		  }
		  .commit{
			text-align:center;
			box-flex:1;
			-webkit-box-flex:1;
			em{

			  @include use-sprite(Comment-48);

			}
		  }
		  .Forward{
			text-align:center;
			box-flex:1;
			-webkit-box-flex:1;
			em{
			  @include use-sprite(Forward-48);
			}
		  }
		}
	  }
	}
  }
}
#openapp{
  position: fixed;
  opacity: 0;
}