<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:task="http://www.springframework.org/schema/task"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task.xsd"
       default-lazy-init="true">

    <!--suppress SpringPlaceholdersInspection -->
    <context:property-placeholder location="classpath:/server.properties"
                                  ignore-resource-not-found="false"
                                  ignore-unresolvable="true"
                                  local-override="true"
                                  file-encoding="UTF-8"/>

    <import resource="classpath*:sharedContext.xml"/>
    <!-- 启动的server的选择 -->
    <!-- 1. hlsmedia -->
    <bean id="springCtxServer" class="com.busap.vcs.hlsmedia.http.HLSMediaServer"/>
    <!-- 2. akka chat server
    <bean id="springCtxServer" class="com.spnetty.akka.ChatTcpSocketServer" />
    -->

</beans>