*{
    margin:0; padding:0;
    list-style: none;
}
body{
    font-size: 12px;

}
button{
    border:solid 1px #ccc;
    padding:10px;
    display: block;
    clear: both;
    margin:15px auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.main{
    max-width: 640px;
    min-width: 320px;
    margin:auto;
    position: relative;
    padding-top:61px;
    background: #f8eff2;

}
.main-1,.main-2,.main-3,.main-4{
    display: none;
}
.top{
    position: fixed;
    max-width: 640px;
    min-width: 320px;
    width:100%;
    background:rgba(0,0,0,0.6);
    height: 40px;
    z-index: 100;
}

.top img{
    width: 100%;
    vertical-align:bottom;
}
.banner img{
    width:100%;
}
.count-down{
    padding:15px 15px;
    font-size: 14px;
    background: #fff;
    margin-bottom: 10px;
}

.count-down span{
    margin-left: 10px;
    color:#e0c3b5;
}
.player-list{
    overflow: hidden;
    background: #fff;

}
.player-list ul li{
    margin:6px 0 0 0;
    padding:10px;
    border-bottom: solid 1px #f1f1f1;
    overflow: hidden;
    position: relative;
}
.player-list ul li:nth-child(1) .pic-bg{
    background: url(../img/xgs_rank_facecover1.png) no-repeat;
    background-size: 100% 100%;
}
.player-list ul li:nth-child(2) .pic-bg{
    background: url(../img/xgs_rank_facecover2.png) no-repeat;
    background-size: 100% 100%;
}
.player-list ul li:nth-child(3) .pic-bg{
    background: url(../img/xgs_rank_facecover3.png) no-repeat;
    background-size: 100% 100%;
}
.player-list ul li:nth-child(4) .pic-bg{
    background: url(../img/xgs_rank_facecover4.png) no-repeat;
    background-size: 100% 100%;
}
/*.player-list ul li:*/
.player-list ul li:nth-child(1) .rank-num,
.player-list ul li:nth-child(2) .rank-num,
.player-list ul li:nth-child(3) .rank-num,
.player-list ul li:nth-child(4) .rank-num{
    position: absolute;
    left:2px;
    top:2px;
    color: #fff;
    font-size: 12px;
    font-style:normal;
    width:14px;
    height: 14px;
    display: block;
    z-index: 2;
}

.player-list ul li:nth-child(1) .pic,
.player-list ul li:nth-child(2) .pic,
.player-list ul li:nth-child(3) .pic,
.player-list ul li:nth-child(4) .pic{
    width:60px;

}

.player-list ul li:nth-child(1) .pic-bg,
.player-list ul li:nth-child(2) .pic-bg,
.player-list ul li:nth-child(3) .pic-bg,
.player-list ul li:nth-child(4) .pic-bg{
    display: block;
    position: absolute;
    left:0;
    top:0;
    height: 60px;
    width:60px;
    background-size: 100% 100%;
    margin:0;

}
.player-list ul li:nth-child(1) .pic img,
.player-list ul li:nth-child(2) .pic img,
.player-list ul li:nth-child(3) .pic img,
.player-list ul li:nth-child(4) .pic img{
    position: absolute;
    left:0;
    top:0;
    width:60px;
    height:60px;
    border-radius: 50%;
    background:red;
    margin:0;

}


    .pic{
        padding:1px;
        height: 60px;
        width:60px;
        position: relative;
    }
    .rank-num{
        position: absolute;
        left:2px;
        top:2px;
        color: #fff;
        font-size: 12px;
        font-style:normal;
        width:14px;
        height: 14px;
        display: block;
        z-index: 2;
    }
    .pic-bg{
        display: block;
        position: absolute;
        left:0;
        top:0;
        height: 60px;
        width:60px;
        background-size: 100% 100%;
        margin:0;
        background: url(../img/xgs_rank_facecover4.png) no-repeat;
        background-size: 100% 100%;
    }
        .pic img{
            position: absolute;
            left:0;
            top:0;
            width:60px;
            height:60px;
            border-radius: 50%;
            background:red;
            margin:0;
        }
    .user-icon{
        background:url(../img/xgs_rank_icon_renqizhi.png) no-repeat;
        background-size: 100% 100%;
        height:20px;
        width:20px;
        position: relative;
        top:4px;
        display: inline-block;
    }
    .nice-name{
        margin-left: 12px;
        line-height: 24px;

    }

    .nice-name h4{
        font-size: 16px;
        color:#545454;
        margin: 0px 0 0px 0;

    }

    .user-info{
        color:#a78d90;
        font-size: 12px;
    }
    .main-1 .opertion{
        background: url(../img/xgs_rank_btn_toupiao.png) no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        width:60px;
        height:26px;
        position: relative;
        top:10px;
    }
    .tirck{
        display: inline-block;
        position: absolute;
        right: 78px;
        top: 20px;
        width:60px;
        height:26px;
        background: url(../img/xgs_rank_btn_lapiao.png) no-repeat;
        background-size: 100% 100%;
    }



.main-2 .nice-name,.main-3 .nice-name,.main-4 .nice-name{
    margin-top: 15px;
}
.main-2 .user-info,.main-3 .user-info,.main-4 .user-info{
    margin-top: 15px;
}

/*.main-3 .user-icon{*/
    /*background:url(../img/xgs_rank_icon_gongxianzhi.png) no-repeat;*/
    /*background-size: 100% 100%;*/
    /*height:20px;*/
    /*width:20px;*/
    /*position: relative;*/
    /*top:4px;*/
    /*display: inline-block;*/
/*}*/


.foot{
}

.foot p{
    margin:20px auto 0 auto;
    text-align: center;
}
.foot p img{
    width:70%;
}
span[id^="cnzz"] {
    display: none;
}
.share-tip{
    position: fixed;
    top:0; left:0;
    display: none;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
.share-tip img{
    width: 100%;
}

.skyBox {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  display: none; }





