<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    			 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    			 
   	<bean id="queueNames" class="org.Iris.app.jilu.consumer.QueueNames" init-method="init">
   		<property name="env" value="${env}" />
   		<property name="zkClient">
			<bean class="org.I0Itec.zkclient.ZkClient">
				<constructor-arg name="zkServers" value="121.42.155.96:2181" />
				<constructor-arg name="sessionTimeout" value="5000" />
				<constructor-arg name="connectionTimeout" value="5000" />
				<constructor-arg name="zkSerializer" >
					<bean class="org.I0Itec.zkclient.serialize.BytesPushThroughSerializer" />
				</constructor-arg>
			</bean>
		</property>
   	</bean>
   	
   	<bean id="emailSender" class="org.Iris.util.network.email.SmtpEmailSender" init-method="init">
   		<property name="auth" value="${mail.smtp.auth}" />
   		<property name="host" value="${mail.smtp.host}" />
   		<property name="username" value="${mail.username}" />
   		<property name="password" value="${mail.passowrd}" />
   		<property name="senderName" value="吉鹿" />
   		<property name="senderEmail" value="${mail.sender.email}" />
   	</bean>
    
    <context:component-scan base-package="org.Iris.app.jilu.consumer" /> 
</beans>