// wopai-mob
// base color css 
// 
//

//font color
//-------------------------
$fontcolor-68: #686868;
$fontcolor-white: #ffffff;
$fontcolor-999: #999999;
$fontcolor-333: #333333;

// font size
//-------------------------
$fontsize-none:0px;
$fontsize-base: 14px;
$fontsize-small: 12px;
$fontsize-16: 16px;
$fontsize-large: 18px;

// color
// -------------------------
$link-white: #ffffff;
$title-white: #ffffff;
$link-tap: #999999;
$gray-dark: #333;
$gray-six:#666666;

// zindex
// -------------------------
$zindex-mask: 8000;
$zindex-mask-content: 9000;
$zindex-mask-navbar: 10000;
$zindex-mask-view-controller: 10001;
$zindex-action-sheet: 10002;

// line-height
//--------------------------
$lineHeight-base:14px;
$lineHeight-18:18px;
$lineHeight-small:22px;
$lineHeight-24:24px;
$lineHeight-large:30px;

//log_reg background-color

$background-color-head:#f7f7f7;
$background-color-body:#f2f2f2;
$background-color-d9:#d9d9d9;








